<div class="containe">
    <div class="container py-5">
        <div class="row align-items-center py-4">
            <div class="col-md-6 text-center text-md-left">
                <h1 class="mb-4 mb-md-0 text-white" style="position: absolute;"> Our Blogs</h1>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <div class="d-inline-flex align-items-center">
                    <a class="btn text-white" href="">Home</a>
                    <i class="fas fa-angle-right text-white"></i>
                    <a class="btn text-white disabled" href="">Blogs</a>
                </div>
            </div>
        </div>
    </div>
</div>



 <!-- ======= Blog Section ======= -->
 <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

       <div class="row gy-4 posts-list">

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/1.png" alt="" class="img-fluid">
            </div>
            <!-- <div class="post-img" (click)="toggleZoomOut()">
              <img src="assets/1.png" alt="" class="img-fluid" [ngClass]="{ 'zoomed': isZoomedOut}">
            </div> -->

            

            <h5 class="title">
              <a href="#">The Power of iso certificates</a>
            </h5>

         

          </article>
        </div> 


        <!-- <div class="row gy-4 posts-list">
          <div class="col-xl-4 col-md-6">
            <article>
              <div class="post-img" (click)="toggleZoom()">
                <img src="assets/1.png" alt="" class="img-fluid" [ngClass]="{ 'zoomed': isZoomed }">
              </div>
              <h2 class="title">
                <a href="#">The Power of iso certificates</a>
              </h2>
            </article>
          </div>
        </div> -->
        <!-- End post list item -->

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/2.png" alt="" class="img-fluid">
            </div>

         

            <h5 class="title">
              <a href="#">ISO Journey: a comprehensive guide</a>
            </h5>

           

          </article>
        </div><!-- End post list item -->

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/3.png" alt="" class="img-fluid">
            </div>

           

            <h5 class="title">
              <a href="#">ISO 9001: Quality management system</a>
            </h5>

         
          

          </article>
        </div><!-- End post list item -->

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/4.png" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Sports</p> -->

            <h5 class="title">
              <a href="#">ISO 14001: Environmental Management System</a>
            </h5>

            <!-- <div class="d-flex align-items-center">
              <img src="assets/img/blog/blog-author-4.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author-list">Lisa Neymar</p>
                <p class="post-date">
                  <time datetime="2022-01-01">Jun 30, 2022</time>
                </p>
              </div>
            </div> -->

          </article>
        </div><!-- End post list item -->

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/5.png" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Politics</p> -->

            <h5 class="title">
              <a href="#">ISO 27001: Information Security Management System</a>
            </h5>

            <!-- <div class="d-flex align-items-center">
              <img src="assets/img/blog/blog-author-5.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author-list">Denis Peterson</p>
                <p class="post-date">
                  <time datetime="2022-01-01">Jan 30, 2022</time>
                </p>
              </div>
            </div> -->

          </article>
        </div><!-- End post list item -->

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/6.png" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

            <h5 class="title">
              <a href="#">ISO 45001: Occupational health and safety Management system</a>
            </h5>
<!-- 
            <div class="d-flex align-items-center">
              <img src="assets/img/blog/blog-author-6.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author-list">Mika Lendon</p>
                <p class="post-date">
                  <time datetime="2022-01-01">Feb 14, 2022</time>
                </p>
              </div>
            </div> -->

            

          </article>
        </div><!-- End post list item -->


        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/7.png" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

            <h5 class="title">
              <a href="#">ISO 50001: Energy Management System</a>
            </h5>


            

          </article>
        </div>


        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/8.png" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

            <h5 class="title">
              <a href="#">ISO 10001</a>
            </h5>
</article>
        </div>

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/9.png" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

            <h5 class="title">
              <a href="#">ISO 22000: food safety Management System</a>
            </h5>
</article>
        </div>

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/10.png" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

            <h5 class="title">
              <a href="#">ISO 17025: Excellence in Laboratory testing and calibration</a>
            </h5>
</article>
        </div>

        <!-- <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/10.png" alt="" class="img-fluid">
            </div>

             <p class="post-category">Entertainment</p> -->

          <!--  <h2 class="title">
              <a href="#">What is a awareness Training?</a>
            </h2>
</article>
        </div> -->


         <!-- <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/img/blog/blog-11.png" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

          <!--  <h2 class="title">
              <a href="blog-details11.html">Why leads is so important for our buisness?</a>
            </h2>
</article>
        </div>

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/img/blog/blog-12.png" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

        <!--    <h2 class="title">
              <a href="blog-details12.html">What is a lead audotor training?</a>
            </h2>
</article>
        </div>


        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/img/blog/blog-13.png" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

        <!--    <h2 class="title">
              <a href="blog-details12.html">What is a internal auditor training?</a>
            </h2>
</article>
        </div>

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/img/blog/blog-14.png" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

        <!--    <h2 class="title">
              <a href="blog-details12.html">Why we choose online course?</a>
            </h2>
</article>
        </div>

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/img/blog/blog-15.png" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

       <!--     <h2 class="title">
              <a href="blog-details12.html">Why standards are essentials in every sphere?</a>
            </h2>
</article>
        </div>

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/img/blog/blog-16.png" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

      <!--      <h2 class="title">
              <a href="blog-details12.html">Why industry are need ISO certification?</a>
            </h2>
</article>
        </div>

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/img/blog/blog-17.png" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

      <!--      <h2 class="title">
              <a href="blog-details12.html">Why is there need for ISO 9001?</a>
            </h2>
</article>
        </div>

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/img/blog/blog-18.png" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

      <!--      <h2 class="title">
              <a href="blog-details12.html">Why is there need for ISO 45001?</a>
            </h2>
</article>
        </div>

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/img/blog/blog-19.png" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

      <!--      <h2 class="title">
              <a href="blog-details12.html">Why is there need for ISO 14001?</a>
            </h2>
</article>
        </div>

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/img/blog/blog-20.png" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

      <!--      <h2 class="title">
              <a href="blog-details12.html">Why is there need for ISO 27001?</a>
            </h2>
</article>
        </div>

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/img/blog/blog-21.png" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

       <!--     <h2 class="title">
              <a href="blog-details12.html">Why is  there need for ISO 50001?</a>
            </h2>
</article>
        </div>

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/img/blog/blog-22.png" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

       <!--     <h2 class="title">
              <a href="blog-details12.html">What is ISO 22000 certification?</a>
            </h2>
</article>
        </div>

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/img/blog/blog-23.png" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

       <!--     <h2 class="title">
              <a href="blog-details12.html">What is a ISO 9001 Certificates?</a>
            </h2>
</article>
        </div>

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/img/blog/blog-24.png" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

       <!--     <h2 class="title">
              <a href="blog-details12.html">What is a ISO 14001 certification?</a>
            </h2>
</article>
        </div>

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/img/blog/blog-25.png" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

<!--            <h2 class="title">
              <a href="blog-details12.html">Why is  there need of ISO 22000 for food safety management system?</a>
            </h2>
</article>
        </div>

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/img/blog/blog-26.png" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

       <!--     <h2 class="title">
              <a href="blog-details12.html">What is a ISO 45001 Certification?</a>
            </h2>
</article>
        </div>

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/img/blog/blog-27.png" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

       <!--     <h2 class="title">
              <a href="blog-details12.html">Consider the resale value.....</a>
            </h2>
</article>
        </div>

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/img/blog/blog-28.png" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

       <!--     <h2 class="title">
              <a href="blog-details12.html">What is a  ISO 50001 Certification?</a>
            </h2>
</article>
        </div> 

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/img/blog/blog-29.png" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

          <!--  <h2 class="title">
              <a href="blog-details12.html">What is a  ISO 13485 Certification?</a>
            </h2>
</article>
        </div>

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="assets/img/blog/blog-30.png" alt="" class="img-fluid">
            </div>

            <!-- <p class="post-category">Entertainment</p> -->

          <!--  <h2 class="title">
              <a href="blog-details12.html">What is a  ISO 22301 Certification?</a>
            </h2>
</article>
        </div>  -->






      </div>
      
      

    </div>
  </section><!-- End Blog Section -->


