<div class="containe">
  <div class="container py-5">
      <div class="row align-items-center py-4">
          <div class="col-md-6 text-center text-md-left">
              <h1 class="mb-4 mb-md-0 text-white" style="position: absolute;">Textile</h1>
          </div>
          <div class="col-md-6 text-center text-md-right">
              <div class="d-inline-flex align-items-center">
                  <a class="btn text-white" href="">Home</a>
                  <i class="fas fa-angle-right text-white"></i>
                  <a class="btn text-white disabled" href="">Textile </a>
              </div>
          </div>
      </div>
  </div>
</div>



<div class="container-fluid pt-5 pb-3">
  <div class="container">
      <h6 class="text-secondary text-uppercase text-center font-weight-medium mb-3">Our Services</h6>
      <h1 class="display-4 text-center mb-5" style="font-weight: bold; color:#194376">Textile</h1>
      <div class="row">
          <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color: #194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px; font-weight: bold;color:aqua   !important;">ISO 9001</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">  ISO 9001</h2>
                       <p class="question"> What is ISO 9001?</p> 
                          
                         <p class="answer"> ISO 9001 is a set of rules that companies follow to assure that they have the systems needed to meet their customers' needs. It involves writing procedures, following them, and getting the same audited by an accredited registrar who after satisfying himself (by examining the systems) will certify that the required standards are being followed and will then grant certification.</p>
                          
                         <p class="question">What are the phases involved in getting ISO 9001 certification.</p>
                          
                         <p class="answer">The phases of ISO 9001 certification consists of two parts i.e., documentation and certification. The documentation part can be done in house or by the help of a consultant. Normally every company takes the services of an experienced consultant to develop and introduce the system. The certification is done by an agency accredited in this regard. The certification agency normally divides into activities into two parts documentation review, which may be done with or without visits to your works and compliance audit that is conducted at your site.</p>
                          
                          <p class="question"> What does it cost to get ISO 9001 certification?</p>
                          <p class="answer">This depends on several factors as size and complexity
                          of operations, number of locations of plants, willingness of
                          owners, type of standards to be implemented etc.</p>
                          
                          <p class="question">How long does it take to get ISO 9001 Certification.</p>
                          <p class="answer">Depending upon the commitment of the owner-managers,
                          the time taken could be 1 to 3 months.</p>
                          
                          <p class="question">What is the validity period of ISO 9001 Certification.</p>
                          
                          <p class="answer">An ISO certification is granted initially for a period of three years.</p>
                          
                          <p class="question"> Is there any fine on non-compliance after obtaining ISO 9001 certification?</p>
                          
                          <p class="answer"> No there is no provision of any fine in such circumstances.
                          
                              <p class="answer">  Advantages of ISO 9001 </p>
                              <ol>
                          <li> Passport for Global market.</li>
                          <li>Reflect Professionalism.</li>
                          <li>Create credibility among new business segment.</li>
                          <li>Improved quality, reduction in cost.
                          </li>
                          <li>Clarity of responsibility and authority.</li>
                          <li>Better and defined system.</li>
                          <li>Consistent quality and performance.</li>
                          <li>Improved Cycle Time.</li>
                          <li>Structured work culture to drive the process of business.</li>
                          <li>Reduction of variation and waste in supply chain.</li>
                       </ol>
<!-- </p>                                 -->
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color:#194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px;font-weight: bold;color:aqua !important">ISO 14001</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapse2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                         <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">ISO 14001</h2>
                          
                         <p class="answer">The ISO 14001 standards are designed to provide an internationally recognized framework for environmental management, measurement, evaluation and auditing. A system compliant to ISO14001 is a management system dedicated to manage the environmental issues of an organization.</p>
           
           <p class="answer">A Certified Environmental Management System proves that the business is taking active steps to fulfill social & environmental responsibilities. Environmentally credible companies have a competitive edge in national and international markets. An “Environmental Management System” helps the organization to be in control of and successfully manage the most significant environmental aspects, e.g. emissions, waste-handling, utilize natural resources and energy-efficiency together with compliance to environmentalregulations.</p>
                                                          
                          <p class="answer">Some of the benefits of the ISO14001 certification are in the following areas:</p>
                              <ol>
              <li>Improved corporate image</li>
              <li>Strategic investment</li>
              <li>Significant demonstration of management responsibilities & commitment to environmental concerns towards  employees, stakeholders & society</li>
              <li>Competitive advantage over international trade barriers</li>
              <li>Compliance with concerned statutory & regulatory requirements</li>
              <li>Tremendous increase in process yields</li>
              <li>Help in converting by products and other waste into commercially valuable forms</li>
              <li>Significantly reduced energy consumption, hazards and accidents Effectively manage the significant environmental aspects</li>
             </ol>
          <!-- </p>                                 -->
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color: #194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px;font-weight: bold;color:aqua !important">ISO 45001</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapse3" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">ISO 45001</h2> 
          <p class="answer">Human life is precious and safety of personnel and interested parties is the responsibility of an organization.</p>
                          
          <p class="answer">ISO 45001 is a globally recognized standard for occupational health and safety management system and defines the health and labor protection system of an organization. An ISO 45001 certification establishes an organization’s commitment to provide a safe working environment to protect employees & other concerns. It aims at reducing and preventing accidents and accident related loss of life, equipment, time and damage to environment.</p>
                          
                          <p class="answer">In providing a framework to ISO 45001, many Health & Safety issues are brought together into documented system. This enables the organization to formulate policy and objectives, taking into account legislative requirements, significant hazards and risks, related to occupational health & safety. With the resultant system in place, whether integrated or not, ensure that the tools for control exist; this provides peace of mind for senior management along with systems and procedures for staff & persons concerned and can reduce legal costs and working time loss.</p>
                          
                          <p class="answer">Demonstrating the commitment to Occupational Health & Safety issues positively impact the company’s success and bring the following benefits:</p>
                              <ol>
              <li>Improvement in safety culture, increasing control of hazards</li>
              <li>Improvement in the efficiency of the operations & consequent reduction in accidents & production time loss</li>
              <li>Improvement in the security / quality of work places, employee morale and adherence to company values</li>
              <li>Reduction in insurance premiums</li>
              <li>Enhancement of corporate image</li>
              <li>Demonstration of legal compliance</li>
             </ol>
          <!-- </p>                                 -->
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color: #194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px;font-weight: bold;color:aqua !important">GOTS</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapse4" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">GOTS</h2>
                          
                         <p class="answer">Sustainable fashion, ethical clothing, fair production has many meanings. The Global Organic Textile Standard (GOTS) has a clearly defined set of criteria and is transparent.
                          GOTS is the worldwide leading textile processing standard for organic fibres, including ecological and social criteria, backed up by independent certification of the entire textile supply chain. GOTS certified final products may include fibre products, yarns, fabrics, clothes, home textiles, mattresses, personal hygiene products, as well as food contact textiles and more.</p>
                          
                         <p class="answer">Having one common standard means textile processors and manufacturers can export their fabrics and garments with one organic certification that is accepted in all major markets. This transparency also gives consumers the power to choose truly organic products sourced from green supply chains.
                         </p>                               
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color: #194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px;font-weight: bold; color:aqua !important">GRS</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapse5" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">GRS</h2>
                          
                         <p class="answer">The Global Recycled Standard (GRS) label guarantees recycled textiles with additional environmental and social criteria.</p>
                          
                          <p class="answer"> 
                          <p class="answer">The GRS label guarantees:</p>
                              <ol>
              <li>Reduction of the harmful impact of production on people and the environment</li>
              <li>Durably treated products</li>
              <li>High percentages of recycled content in products</li>
              <li>Responsible production</li>
              <li>Recycled materials</li>
              <li>Traceability</li>
              <li>Transparent communication</li>
              <li>Stakeholder engagement</li>
             </ol>
          <!-- </p>  -->
          <p class="answer">The labelling by an independent certification body validates the conformity of your practices according to the Global Recycled Standard (GRS). The GRS is intended for all products that contain at least 20% recycled materials</p>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
  <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color: #194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px; font-weight: bold;color:aqua !important;">SA8000</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapse6" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">SA8000</h2>
                       
          <p class="answer">SA8000, or "Social Accountability 8000", was developed to promote socially responsible business in all sectors around the globe. Rather than being a "sweatshop code" for customers to enforce upon their suppliers, SA8000 was developed to help socially responsible companies to measure and differentiate themselves from other companies operating with less than acceptable labour conditions. It sets out expectations regarding health and safety, child labour, forced labour, freedom of association, discrimination, disciplinary practices, working hours and compensation together with the management systems to deliver them.</p>
                                                          
          <p class="answer">SA8000 covers all the major labour rights issues contained in International Labour Organization (ILO) conventions, the Universal Declaration of Human Rights and the UN Convention on the Rights of the Child. It also acknowledges the importance of compliance with locally applicable laws.</p>
                          
                          <p class="answer">First published in 1997 and revised in 2001, SA8000 has been widely recognized as the most significant tool for bringing workers’ rights business practices into line with the values of society - a vital component of corporate reputation today.</p>
                          
                          <p class="answer">The standard is broadly recognized by trade unions, government agencies and non-governmental organizations (NGOs) as one of the strongest workplace standards.</p>
                                                          
                          <p class="answer">Organizations that have recognized SA8000 include the US State Department, the European Commission, the Tuscany Government, the Indian Ministry of Textiles, Business for Social Responsibility and Amnesty International.</p>
                                                          
          <p class="answer">The SA8000 standard and verification system is a credible, comprehensive and efficient tool for assuring humane workplaces because it includes:</p>
                              <ol>
              <li>A standard that covers all widely accepted international labor rights.</li>
              <li>Factory-level management system requirement for ongoing compliance and improvement.</li>
              <li>Independent, expert verification of compliance: Certification of facilities by auditing bodies accredited by SAI. SAI accreditation ensures that auditors have the procedures and resources needed to conduct thorough and objective audits. There are currently nine organizations accredited to do SA8000 certification.</li>
              <li>Involvement by all stakeholders: Participation by all key sectors, including workers and trade unions, companies, socially responsible investors, nongovernmental organizations and government, in the SA8000 system. Such participation is required with the Advisory Board, drafting and revision of the standard and auditing system, conferences, training, and the complaints system.</li>
              <li>Harnessing consumer and investor concern: The SA8000 Certification and Corporate Involvement Program help consumers and investors to identify and support companies that are committed to assuring human rights in the workplace SA8000 Standard Elements.</li>
              
            </ol>
          <!-- </p>                                 -->
                      </div>
                    </div>
                  </div>
              </div>
          </div>
  <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color: #194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px;font-weight: bold; color:aqua !important;">SEDEX</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapse7" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">SEDEX</h2>
                       
          <p class="answer">Sedex aims to improve ethical and responsible business practices in global supply chains. Sedex stands for Supplier Ethical Data Exchange, which is an online system that allows suppliers to maintain data on ethical & responsible practices and allows them to share this information with their customers. Sedex is an online database which allows companies to store and view data on ethical and responsible business practices. Sedex does not set any standards or determine the policy of its members. It is purely a tool for facilitating access to information.</p>
                                                          
          <p class="answer">Sedex is an online database which allows companies to store and view data on ethical and responsible business practices. Sedex does not set any standards or determine the policy of its members. It is purely a tool for facilitating access to information. Sedex stores information on ethical and responsible practices covered by ILO Conventions, ETI Base Code, SA 8000, ISO 14001 and industry specific codes of conduct. Sedex members can use the information on the system to evaluate suppliers against any of these codes or the labour standards provisions in individual corporate codes. Sedex itself does not specify a particular code or state that suppliers have 'passed' or 'failed'.</p>
                          
                          <p class="answer">SMETA 4-pillars is a common audit format which places emphasis upon environmental and business integrity. SMETA 4-pillars has been designed to meet a number of objectives which includes promotion of responsible sourcing within the supply chain and to improve the efficiency and effectiveness of evaluation using a common methodology and allowing for the exchange of assessment data. A SMETA 2-pillar audit covers labour standards and health and safety as mandatory elements plus entitlement to work, subcontracting and homeworking and a shortened Environment assessment as additional elements. The SMETA 4-pillar audit covers everything in the 2-pillar audit with an extended environmental assessment and business practices audit.</p>
                                                 
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>