.containe{
    /* background-color: #46c6ce; */
    background-image: url('../../assets/bg.jpg'); /* Path to your image */
    background-size: cover; /* Cover the entire area */
    background-position: center;
    margin: 0%;
    padding: 0%;
}
