<div class="containe">
    <div class="container py-5">
        <div class="row align-items-center py-4">
            <div class="col-md-6 text-center text-md-left">
                <h1 class="mb-4 mb-md-0 text-white" style="position: absolute;"> Our Clients</h1>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <div class="d-inline-flex align-items-center">
                    <a class="btn text-white" href="">Home</a>
                    <i class="fas fa-angle-right text-white"></i>
                    <a class="btn text-white disabled" href="">Clients</a>
                </div>
            </div>
        </div>
    </div>
</div>



<div> 
    <div style="padding: 10px; text-align: center; font-size:15px;">
        <b>If you want to have detailed information about the scope of certification or effective dates of current status then kindly send a requesting mail to <a href="mailto:info@ricliso.com" style="text-decoration:none;color: black;
      background-color: transparent;" color="black">info@ricliso.com</a>. Upon receipt of request, required information will be provided.</b>
    </div>
    <div style="text-align:center; margin:10px;">
        <img src="https://www.ricliso.com/certificate/assets/images/Welcome.png"/>
    </div>
    <div style="text-align:center;  margin:10px;">
        <img src="https://www.ricliso.com/certificate/assets/images/Home_AVR.png"/>
    </div>
    <div style="text-align:center; margin:10px;">
        <img src="https://www.ricliso.com/certificate/assets/images/Home_Logo.png" height="250px" width="250px" />
    </div>
    <div style="text-align:center; margin:10px;">
        <strong><span style="font-size:20px;">International Certificate Register</span><strong>
    
    <div style="text-align:center; margin:10px;">
        <span>Certificate Verification</span>
        <input type="text" name="verification_number" id="verification_number" value="" onkeypress="msgHide();" placeholder="Enter certificate number">
        <span id="msg" style="color:red;"></span>
    </div>
    <div style="text-align:center; margin:10px;">
        <button id="myBtn" style="background-color:#3CD1E7; color:white;" onclick="certiverify();">Verify!</button>	
    </div>
