<div class="containe">
    <div class="container py-5">
        <div class="row align-items-center py-4">
            <div class="col-md-6 text-center text-md-left">
                <h1 class="mb-4 mb-md-0 text-white" style="position: absolute;">Food</h1>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <div class="d-inline-flex align-items-center">
                    <a class="btn text-white" href="">Home</a>
                    <i class="fas fa-angle-right text-white"></i>
                    <a class="btn text-white disabled" href="">Food </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid pt-5 pb-3">
    <div class="container">
        <h6 class="text-secondary text-uppercase text-center font-weight-medium mb-3">Our Services</h6>
        <h1 class="display-4 text-center mb-5" style="color: #194376; font-weight: bold; ">Food Processing</h1>


        <div class="row">
            <div class="col-lg-12 col-md-12 pb-3">
                <div id="accordion">
                    <div class="card" style="background-color: #f3f6ff;">
                      <div class="card-header" id="headingOne" style="background-color: #194376;">
                        <h5 class="mb-0">
                          <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
                            <h2 class="display-2 text-secondary m-0" style="font-size:25px ;  color:white ;font-weight:bold; color:aqua  !important;" >ISO 9001</h2>
                          </a>
                        </h5>
                      </div>
                  
                      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px;color: #46c6ce !important; font-weight:bold ">  ISO 9001</h2>
                         <p class="question" style="color:#194376 !important; font-weight:bold"> What is ISO 9001?</p> 
                            
                           <p class="answer"> ISO 9001 is a set of rules that companies follow to assure that they have the systems needed to meet their customers' needs. It involves writing procedures, following them, and getting the same audited by an accredited registrar who after satisfying himself (by examining the systems) will certify that the required standards are being followed and will then grant certification.</p>
                            
                           <p class="question" style="font-weight:bold; color:#194376">What are the phases involved in getting ISO 9001 certification.</p>
                            
                           <p class="answer">The phases of ISO 9001 certification consists of two parts i.e., documentation and certification. The documentation part can be done in house or by the help of a consultant. Normally every company takes the services of an experienced consultant to develop and introduce the system. The certification is done by an agency accredited in this regard. The certification agency normally divides into activities into two parts documentation review, which may be done with or without visits to your works and compliance audit that is conducted at your site.</p>
                            
                            <p class="question"> What does it cost to get ISO 9001 certification?</p>
                            <p class="answer">This depends on several factors as size and complexity
                            of operations, number of locations of plants, willingness of
                            owners, type of standards to be implemented etc.</p>
                            
                            <p class="question">How long does it take to get ISO 9001 Certification.</p>
                            <p class="answer">Depending upon the commitment of the owner-managers,
                            the time taken could be 1 to 3 months.</p>
                            
                            <p class="question">What is the validity period of ISO 9001 Certification.</p>
                            
                            <p class="answer">An ISO certification is granted initially for a period of three years.</p>
                            
                            <p class="question"> Is there any fine on non-compliance after obtaining ISO 9001 certification?</p>
                            
                            <p class="answer"> No there is no provision of any fine in such circumstances.
                            
                                <p class="answer">  Advantages of ISO 9001 </p>
                                <ol>
                            <li> Passport for Global market.</li>
                            <li>Reflect Professionalism.</li>
                            <li>Create credibility among new business segment.</li>
                            <li>Improved quality, reduction in cost.
                            </li>
                            <li>Clarity of responsibility and authority.</li>
                            <li>Better and defined system.</li>
                            <li>Consistent quality and performance.</li>
                            <li>Improved Cycle Time.</li>
                            <li>Structured work culture to drive the process of business.</li>
                            <li>Reduction of variation and waste in supply chain.</li>
                         </ol>
<!-- </p>                                 -->
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 pb-3">
                <div id="accordion">
                    <div class="card" style="background-color: #f3f6ff;">
                      <div class="card-header" id="headingOne" style="background-color:#194376; ">
                        <h5 class="mb-0">
                          <a class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                            <h2 class="display-2 text-secondary m-0" style="font-size:25px; font-weight:bold; color:aqua  !important;">ISO 14001</h2>
                          </a>
                        </h5>
                      </div>
                  
                      <div id="collapse2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                           <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">ISO 14001</h2>
                                                            
                           <p class="answer">The ISO 14001 standards are designed to provide an internationally recognized framework for environmental management, measurement, evaluation and auditing. A system compliant to ISO14001 is a management system dedicated to manage the environmental issues of an organization.</p>
                           
                           <p class="answer">A Certified Environmental Management System proves that the business is taking active steps to fulfill social & environmental responsibilities. Environmentally credible companies have a competitive edge in national and international markets. An “Environmental Management System” helps the organization to be in control of and successfully manage the most significant environmental aspects, e.g. emissions, waste-handling, utilize natural resources and energy-efficiency together with compliance to environmentalregulations.</p>
                                                            
                            <p class="answer">Some of the benefits of the ISO14001 certification are in the following areas:</p>
                                <ol>
                                    <li>Improved corporate image</li>
                                    <li>Strategic investment</li>
                                    <li>Significant demonstration of management responsibilities & commitment to environmental concerns towards  employees, stakeholders & society</li>
                                    <li>Competitive advantage over international trade barriers</li>
                                    <li>Compliance with concerned statutory & regulatory requirements</li>
                                    <li>Tremendous increase in process yields</li>
                                    <li>Help in converting by products and other waste into commercially valuable forms</li>
                                    <li>Significantly reduced energy consumption, hazards and accidents Effectively manage the significant environmental aspects</li>
                                 </ol>
                            <!-- </p>                                 -->
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 pb-3">
                <div id="accordion">
                    <div class="card" style="background-color: #f3f6ff;">
                      <div class="card-header" id="headingOne" style="background-color:#194376; ">
                        <h5 class="mb-0">
                          <a class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                            <h2 class="display-2 text-secondary m-0" style="font-size:25px;font-weight:bold;color:aqua  !important;">ISO 45001</h2>
                          </a>
                        </h5>
                      </div>
                  
                      <div id="collapse3" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">ISO 45001</h2> 
                            <p class="answer">Human life is precious and safety of personnel and interested parties is the responsibility of an organization.</p>
                            
                            <p class="answer">ISO 45001 is a globally recognized standard for occupational health and safety management system and defines the health and labor protection system of an organization. An ISO 45001 certification establishes an organization’s commitment to provide a safe working environment to protect employees & other concerns. It aims at reducing and preventing accidents and accident related loss of life, equipment, time and damage to environment.</p>
                            
                            <p class="answer">In providing a framework to ISO 45001, many Health & Safety issues are brought together into documented system. This enables the organization to formulate policy and objectives, taking into account legislative requirements, significant hazards and risks, related to occupational health & safety. With the resultant system in place, whether integrated or not, ensure that the tools for control exist; this provides peace of mind for senior management along with systems and procedures for staff & persons concerned and can reduce legal costs and working time loss.</p>
                            
                            <p class="answer">Demonstrating the commitment to Occupational Health & Safety issues positively impact the company’s success and bring the following benefits:</p>
                                <ol>
                                    <li>Improvement in safety culture, increasing control of hazards</li>
                                    <li>Improvement in the efficiency of the operations & consequent reduction in accidents & production time loss</li>
                                    <li>Improvement in the security / quality of work places, employee morale and adherence to company values</li>
                                    <li>Reduction in insurance premiums</li>
                                    <li>Enhancement of corporate image</li>
                                    <li>Demonstration of legal compliance</li>
                                 </ol>
                            <!-- </p>                                 -->
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 pb-3">
                <div id="accordion">
                    <div class="card" style="background-color: #f3f6ff;">
                      <div class="card-header" id="headingOne" style="background-color:#194376; ">
                        <h5 class="mb-0">
                          <a class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                            <h2 class="display-2 text-secondary m-0" style="font-size:25px; font-weight:bold;color:aqua  !important;">ISO 22000</h2>
                          </a>
                        </h5>
                      </div>
                  
                      <div id="collapse4" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">ISO 22000</h2>
                            
                            <p class="answer">Increasing consumer demand for safe food has led many companies to develop food quality management systems and food safety management systems, based on the Hazard Analysis and Critical Control Point (HACCP)approach.</p>
                            
                            <p class="answer">In 2001, the International Organization for Standardization (ISO) started the development of a management standard for the food industry, building on HACCP’s role in food safety management systems. This resulted in the ISO 220002005 standard, which defines food safety management requirements for companies that need to meet and exceed global food safety regulations.</p>
                            
                            <p class="answer">ISO 220002005 outlines the Food Safety Management System Requirements for any organization in the food chain, and is one of a family of standards focused on the development, implementation and improvement of a food safety management system.</p>
                            
                            <p class="answer">Benefits of implementing ISO 220002005 include: A clear, auditable, global standard providing a framework to bring together all parts of your Food Safety Management System (FSMS) Demonstrates commitment to customer satisfaction Tests compliance with statutory and regulatory requirements and your own systems through internal audits and management reviews Improves your organizations image Requires regular testing of data integrity / lot recall programs and process audits Aligns with other management systems (ISO 9001, ISO 14001)</p>
                            
                            <p class="question">Who should certify to ISO 220002005?</p>
                            
                            <p class="answer">Since ISO 22000 is a generic food safety management standard it can be used by any organization directly or indirectly involved in the food chain including- farms, fisheries, dairies, meat processors, manufacturers of soups, snacks, bread, cereal, beverages, canned and frozen food, etc as well as food service providers such as restaurants, fast food chains, hospitals and hotels.</p>
                            
                            <p class="answer">Supporting services are also important, including providers of food transportation, storage and distribution, catering services, product suppliers for equipment, additives, raw materials, cleaning and sanitizing products and packaging. If your products touch the food industry or the food we eat, part or all of the ISO 22000 requirements will apply.</p>
                                
                        </div>
                      </div>
                    </div>
                </div>
            </div>  
            <div class="col-lg-12 col-md-12 pb-3">
                <div id="accordion">
                    <div class="card" style="background-color: #f3f6ff;">
                      <div class="card-header" id="headingOne" style="background-color:#194376; ">
                        <h5 class="mb-0">
                          <a class="btn btn-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                            <h2 class="display-2 text-secondary m-0" style="font-size:25px ; font-weight:bold;color:aqua  !important;">HACCP</h2>
                          </a>
                        </h5>
                      </div>
                  
                      <div id="collapse5" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px; ">HACCP</h2>
                            <p class="answer">HACCP is a management system in which food safety is addressed through the
analysis and control of biological, chemical, and physical hazards from raw material
production, procurement and handling, to manufacturing, distribution and consumption
of the finished product. For successful implementation of a HACCP plan, management
must be strongly committed to the HACCP concept. A firm commitment to HACCP by
top management provides company employees with a sense of the importance of
producing safe food.</p>
                            <p class="answer">HACCP is designed for use in all segments of the food industry from growing,
harvesting, processing, manufacturing, distributing, and merchandising to preparing
food for consumption. Prerequisite programs such as current Good Manufacturing
Practices (cGMPs) are an essential foundation for the development and implementation
of successful HACCP plans. Food safety systems based on the HACCP principles have
been successfully applied in food processing plants, retail food stores, and food service
operations. The seven principles of HACCP have been universally accepted by
government agencies, trade associations and the food industry around the world.</p>
                            <p class="answer">7 HACCP Principles.</p>
                                <ol>
                                    <li>Analyze hazards</li>
                                    <li>Identify critical control points.</li>
                                    <li>Establish preventive measures with critical limits for each control point.</li>
                                    <li>Establish procedures to monitor the critical control points.</li>
                                    <li>Establish corrective actions to be taken when monitoring shows that a critical limit has not been met</li>
                                    <li>Establish procedures to verify that the system is working properly</li>
                                    <li>Establish effective record keeping to document the HACCP system</li>
                                 </ol>
                            <!-- </p>                                 -->
                         </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 pb-3">
                <div id="accordion">
                    <div class="card" style="background-color: #f3f6ff;" >
                      <div class="card-header" id="headingOne" style="background-color:#194376; ">
                        <h5 class="mb-0">
                          <a class="btn btn-link" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                            <h2 class="display-2 text-secondary m-0" style="font-size:25px ; font-weight:bold;color:aqua  !important;">FSSC 22000
                            </h2>
                          </a>
                        </h5>
                      </div>  
                  
                       <div id="collapse6" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px; " >FSSC 22000
                            </h2>

                           <p class="answer"> Food Safety System Certification (FSSC) 22000 is an internationally accepted
certification scheme based on a combination of ISO 22000 sector specific PRP and
FSSC additional requirements. FSSC 22000 has been developed in respond to
customer demands for a recognizable standard against which a food safety
management system can be audited and certified.</p>
                            
                            <p class="answer">FSSC 22000 was given Global Recognition by the GFSI (Global Food Safety Initiative),
as well as other food safety schemes such as BRC or IFS. The certification scheme is
owned by the Foundation for Food Safety Certification.</p>
                            
                            <p class="answer">FSSC 22000 has been developed for the certification of food safety systems, which
guarantee the safety of products during primary production of animal products,
manufacture of perishable animal and/or vegetable products, products with a long shelf

life and (other) food ingredients like additives, vitamins and bio-cultures, animal food
and feed production and food packaging manufacturing, and recently included catering,
retail/wholesale and transport and storage services.</p>
                            
                            
                        </div>
                      </div>
                    </div>
                </div>
            </div> 
            <div class="col-lg-12 col-md-12 pb-3">
                <div id="accordion">
                    <div class="card" style="background-color: #f3f6ff;">
                      <div class="card-header" id="headingOne" style="background-color:#194376; ">
                        <h5 class="mb-0">
                          <a class="btn btn-link" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
                            <h2 class="display-2 text-secondary m-0" style="font-size:25px; font-weight:bold;color:aqua  !important;">FSSAI 
     </h2>
                          </a> 
                        </h5>
                      </div>
                  
                      <div id="collapse7" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">FSSAI 

                            </h2>
                         <p class="question"> The Food Safety and Standards Authority of India (FSSAI)</p> 
                            
                           <p class="answer"> The Food Safety and Standards Authority of India (FSSAI) has been established
under Food Safety and Standards, 2006 which consolidates various acts &amp; orders that
have hitherto handled food related issues in various Ministries and Departments. FSSAI
has been created for laying down science-based standards for articles of food and to
regulate their manufacture, storage, distribution, sale and import to ensure availability of
safe and wholesome food for human consumption.</p>
                            
                           <p class="question">Establishment of the Authority</p>
                            
                           <p class="answer">Ministry of Health &amp; Family Welfare, Government of India is the Administrative Ministry
for the implementation of FSSAI. The Chairperson and Chief Executive Officer of Food
Safety and Standards Authority of India (FSSAI) have already been appointed by
Government of India. The Chairperson is in the rank of Secretary to Government of
India.</p>
                            
                            <p class="question"> FSSAI has been mandated by the FSS Act, 2006 for performing the following
functions:</p>
                                <ol>
                            <li> Framing of Regulations to lay down the Standards and guidelines in relation to
articles of food and specifying appropriate system of enforcing various
standards thus notified.</li>
                            <li>Laying down mechanisms and guidelines for accreditation of certification bodies
engaged in certification of food safety management system for food
businesses.</li>
                            <li>Laying down procedure and guidelines for accreditation of laboratories and
notification of the accredited laboratories.</li>
                            <li>To provide scientific advice and technical support to Central Government and
State Governments in the matters of framing the policy and rules in areas
which have a direct or indirect bearing of food safety and nutrition.
                            </li>
                            <li>Collect and collate data regarding food consumption, incidence and prevalence
of biological risk, contaminants in food, residues of various, contaminants in
foods products, identification of emerging risks and introduction of rapid alert
system.</li>
                            <li>Creating an information network across the country so that the public,
consumers, Panchayats etc receive rapid, reliable and objective information
about food safety and issues of concern.</li>
                            <li>Provide training programmes for persons who are involved or intend to get
involved in food businesses.</li>
                            <li>Contribute to the development of international technical standards for food,
sanitary and phyto-sanitary standards.</li>
                            <li>Promote general awareness about food safety and food standards.</li>
                         </ol>
<!-- </p>                                 -->
                        <!-- </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 pb-3">
                <div id="accordion">
                    <div class="card" style="background-color: #f3f6ff;">
                      <div class="card-header" id="headingOne" style="background-color:#194376; ">
                        <h5 class="mb-0">
                          <a class="btn btn-link" data-toggle="collapse" data-target="#collapse8" aria-expanded="true" aria-controls="collapse8">
                            <h2 class="display-2 text-secondary m-0" style="font-size:25px; font-weight:bold;color:aqua  !important;">FOSTAC
                            </h2>
                          </a>
                        </h5>
                      </div>
                  
                      <div id="collapse8" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">FOSTAC
                            </h2>

                           <p class="answer">Food Safety Training &amp; Certification is a large-scale training programme for the food
business operators. All food businesses having Central Licenses or State Licenses
should have at least one trained and certified food safety supervisor for every 25 food-
handlers or part thereof on all their premises.</p>
                            
                           <p class="answer">The food safety supervisors will be certified &amp; trained under FoSTaC.</p>
                            

                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 pb-3">
                <div id="accordion">
                    <div class="card" style="background-color: #f3f6ff;">
                      <div class="card-header" id="headingOne" style="background-color:#194376; ">
                        <h5 class="mb-0">
                          <a class="btn btn-link" data-toggle="collapse" data-target="#collapse9" aria-expanded="true" aria-controls="collapse9">
                            <h2 class="display-2 text-secondary m-0" style="font-size:25px; font-weight:bold";>ORGANIC
                            </h2>
                          </a>
                        </h5>
                      </div>
                  
                      <div id="collapse9" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">ORGANIC
                            </h2>
                           <p class="answer">Organic production is a system that integrates cultural, biological, and mechanical
practices that foster cycling of resources, promote ecological balance, and conserve
biodiversity.</p>
                            
                           <p class="answer">The Principles of Health, Ecology, Fairness, and care are the roots from which organic
agriculture grows and develops. They express the contribution that organic agriculture
can make to the world, and a vision to improve all agriculture in a global context.</p>
                            
                            <p class="answer">Standards for Organic Production – NPOP. The Standards for Organic Production are
notified in National Programme for Organic Production (NPOP) by the Director General
of Foreign Trade under the Foreign Trade (Development and Regulation) Act, 1992.</p>
                            
                            <p class="answer">The NPOP has a system where in Certification Bodies are accredited with the National
Accreditation Body (NAB) which is chaired by the Additional Secretary in the
Department of Commerce. The Secretariat of the NAB is with APEDA. NPOP covers
standards for crops and their products, live stocks and poultry products, aquaculture,
apiculture etc. The exports from the country are as per the provisions in NPOP.</p>

                        </div>
                      </div>
                    </div>
                </div>
            </div> -->
            
            <div class="col-lg-12 col-md-12 pb-3">
                <div id="accordion">
                    <div class="card" style="background-color: #f3f6ff;">
                      <div class="card-header" id="headingOne" style="background-color:#194376; ">
                        <h5 class="mb-0">
                          <a class="btn btn-link" data-toggle="collapse" data-target="#collapse10" aria-expanded="true" aria-controls="collapse10">
                            <h2 class="display-2 text-secondary m-0" style="font-size:25px;font-weight:bold; color:aqua !important;">KOSHER
                            </h2>
                          </a>
                        </h5>
                      </div>
                  
                      <div id="collapse10" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">KOSHER
                            </h2>
                           <p class="answer">The word kosher means proper or acceptable, and it has informally entered the English language with that meaning. But kosher laws have their origin in the Bible, and are detailed in the Talmud and the other codes of Jewish traditions. They have been applied through the centuries to ever-changing situations, and these rulings, both ancient and modern, govern kosher certification.</p>
                            
                           <p class="answer">The Bible lists the basic categories of food items which are not kosher. These include certain animals, fowl and fish (such as pork and rabbit, eagle and owl, catfish and sturgeon), most insects, and any shellfish or reptile. In addition, kosher species of meat and fowl must be slaughtered in a prescribed manner, and meat and dairy products may not be manufactured or consumed together.</p>
                            
                            <p class="answer">For a food to be kosher all units and subunits must be kosher as well. Thus, for example, a cereal may be non-kosher because it has raisins which are coated with a non-kosher, animal-based glycerin. Potato chips can be non-kosher if the vegetable oil used in the fryer has been refined and deodorized on equipment used for tallow production. In fact, equipment used for hot production of non-kosher products may not be used for kosher production without kosherization (a hot purging procedure).</p>
                            
                            <p class="answer">Kosher Certification is the stamp of kosher approval by a rabbinic agency verifying they have checked the products ingredients, production facility and actual production to ensure all ingredients, derivatives, tools and machinery have no trace of non-kosher substances. The Kosher certified symbol assures consumers that both the actual product and its production adhere to all Kosher Law requirements.</p>

                        </div>
                      </div>
                    </div>
                </div>
            </div>
            
            
            <div class="col-lg-12 col-md-12 pb-3">
                <div id="accordion">
                    <div class="card" style="background-color: #f3f6ff;">
                      <div class="card-header" id="headingOne" style="background-color:#194376; ">
                        <h5 class="mb-0">
                          <a class="btn btn-link" data-toggle="collapse" data-target="#collapse11" aria-expanded="true" aria-controls="collapse11">
                            <h2 class="display-2 text-secondary m-0" style="font-size:25px;font-weight:bold; color:aqua !important;">HALAL 
                            </h2>
                          </a>
                        </h5>
                      </div>
                  
                      <div id="collapse11" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">HALAL 
                            </h2>
                           <p class="answer">The Halal certificate is a document that guarantees that products and services aimed at the Muslim population meet the requirements of Islamic law and therefore are suitable for consumption in both Muslim-majority countries and in Western countries where there are significant population group who practice Islam (France, Germany, United Kingdom, Spain).</p>
                            
                           <p class="answer">Halal certification is a process which ensures the features and quality of the products according to the rules established by the Islamic Council that allow the use of the mark Halal. It is mainly applied to meat products and other food products such as milk, canned food and additives.</p>
                            
                            <p class="answer">Specifically, for meat products Halal certifies that the animals were slaughtered in a single cut, thoroughly bled, and their meat have not been in contact with animals slaughtered otherwise and, especially, with pork. Products that are Halal certified are often marked with a Halal symbol, or simply the letter M (as the letter K is used to identify kosher products for Jewish population). See also Kosher certificate.</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</div> 
    
