<div class="containe">
  <div class="container py-5">
      <div class="row align-items-center py-4">
          <div class="col-md-6 text-center text-md-left">
              <h1 class="mb-4 mb-md-0 text-white" style="position: absolute;"> General Industries</h1>
          </div>
          <div class="col-md-6 text-center text-md-right">
              <div class="d-inline-flex align-items-center">
                  <a class="btn text-white" href="">Home</a>
                  <i class="fas fa-angle-right text-white"></i>
                  <a class="btn text-white disabled" href="">General Industries</a>
              </div>
          </div>
      </div>
  </div>
</div>



<div class="container-fluid pt-5 pb-3">
  <div class="container">
      <h6 class="text-secondary text-uppercase text-center font-weight-medium mb-3">Our Services</h6>
      <h1 class="display-4 text-center mb-5" style="font-weight: bold; color:#194376">General Industries</h1>
      <div class="row">
          <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color: #194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px; font-weight:bold; color: aqua !important;">ISO 9001</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">  ISO 9001</h2>
                       <p class="question"> What is ISO 9001?</p> 
                          
                         <p class="answer"> ISO 9001 is a set of rules that companies follow to assure that they have the systems needed to meet their customers' needs. It involves writing procedures, following them, and getting the same audited by an accredited registrar who after satisfying himself (by examining the systems) will certify that the required standards are being followed and will then grant certification.</p>
                          
                         <p class="question">What are the phases involved in getting ISO 9001 certification.</p>
                          
                         <p class="answer">The phases of ISO 9001 certification consists of two parts i.e., documentation and certification. The documentation part can be done in house or by the help of a consultant. Normally every company takes the services of an experienced consultant to develop and introduce the system. The certification is done by an agency accredited in this regard. The certification agency normally divides into activities into two parts documentation review, which may be done with or without visits to your works and compliance audit that is conducted at your site.</p>
                          
                          <p class="question"> What does it cost to get ISO 9001 certification?</p>
                          <p class="answer">This depends on several factors as size and complexity
                          of operations, number of locations of plants, willingness of
                          owners, type of standards to be implemented etc.</p>
                          
                          <p class="question">How long does it take to get ISO 9001 Certification.</p>
                          <p class="answer">Depending upon the commitment of the owner-managers,
                          the time taken could be 1 to 3 months.</p>
                          
                          <p class="question">What is the validity period of ISO 9001 Certification.</p>
                          
                          <p class="answer">An ISO certification is granted initially for a period of three years.</p>
                          
                          <p class="question"> Is there any fine on non-compliance after obtaining ISO 9001 certification?</p>
                          
                          < class="answer"> No there is no provision of any fine in such circumstances.
                          
                              <p class="answer">  Advantages of ISO 9001 </p>
                              <ol>
                          <li>Passport for Global market.</li>
                          <li>Reflect Professionalism.</li>
                          <li>Create credibility among new business segment.</li>
                          <li>Improved quality, reduction in cost.
                          </li>
                          <li>Clarity of responsibility and authority.</li>
                          <li>Better and defined system.</li>
                          <li>Consistent quality and performance.</li>
                          <li>Improved Cycle Time.</li>
                          <li>Structured work culture to drive the process of business.</li>
                          <li>Reduction of variation and waste in supply chain.</li>
                       </ol>
                              
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color: #194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px; font-weight:bold; color: aqua !important;">ISO 14001</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapse2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                         <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">ISO 14001</h2>
                          
                         <p class="answer">The ISO 14001 standards are designed to provide an internationally recognized framework for environmental management, measurement, evaluation and auditing. A system compliant to ISO14001 is a management system dedicated to manage the environmental issues of an organization.</p>
           
           <p class="answer">A Certified Environmental Management System proves that the business is taking active steps to fulfill social & environmental responsibilities. Environmentally credible companies have a competitive edge in national and international markets. An “Environmental Management System” helps the organization to be in control of and successfully manage the most significant environmental aspects, e.g. emissions, waste-handling, utilize natural resources and energy-efficiency together with compliance to environmentalregulations.</p>
                                                          
                          <p class="answer">Some of the benefits of the ISO14001 certification are in the following areas:</p>
                              <ol>
              <li>Improved corporate image</li>
              <li>Strategic investment</li>
              <li>Significant demonstration of management responsibilities & commitment to environmental concerns towards  employees, stakeholders & society</li>
              <li>Competitive advantage over international trade barriers</li>
              <li>Compliance with concerned statutory & regulatory requirements</li>
              <li>Tremendous increase in process yields</li>
              <li>Help in converting by products and other waste into commercially valuable forms</li>
              <li>Significantly reduced energy consumption, hazards and accidents Effectively manage the significant environmental aspects</li>
             </ol>
                                         
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color: #194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px; font-weight:bold; color: aqua !important;">ISO 45001</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapse3" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">ISO 45001</h2> 
          <p class="answer">Human life is precious and safety of personnel and interested parties is the responsibility of an organization.</p>
                          
          <p class="answer">ISO 45001 is a globally recognized standard for occupational health and safety management system and defines the health and labor protection system of an organization. An ISO 45001 certification establishes an organization’s commitment to provide a safe working environment to protect employees & other concerns. It aims at reducing and preventing accidents and accident related loss of life, equipment, time and damage to environment.</p>
                          
                          <p class="answer">In providing a framework to ISO 45001, many Health & Safety issues are brought together into documented system. This enables the organization to formulate policy and objectives, taking into account legislative requirements, significant hazards and risks, related to occupational health & safety. With the resultant system in place, whether integrated or not, ensure that the tools for control exist; this provides peace of mind for senior management along with systems and procedures for staff & persons concerned and can reduce legal costs and working time loss.</p>
                          
                          <p class="answer">Demonstrating the commitment to Occupational Health & Safety issues positively impact the company’s success and bring the following benefits:</p>
                              <ol>
              <li>Improvement in safety culture, increasing control of hazards</li>
              <li>Improvement in the efficiency of the operations & consequent reduction in accidents & production time loss</li>
              <li>Improvement in the security / quality of work places, employee morale and adherence to company values</li>
              <li>Reduction in insurance premiums</li>
              <li>Enhancement of corporate image</li>
              <li>Demonstration of legal compliance</li>
             </ol>
                                         
                      </div>
                    </div>
                  </div>
              </div>
          </div>
   
          
      </div>
  </div>
</div>
