<div class="containe">
    <div class="container py-5">
        <div class="row align-items-center py-4">
            <div class="col-md-6 text-center text-md-left">
                <h1 class="mb-4 mb-md-0 text-white" style="position: absolute;"> Our Services</h1>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <div class="d-inline-flex align-items-center">
                    <a class="btn text-white" href="">Home</a>
                    <i class="fas fa-angle-right text-white"></i>
                    <a class="btn text-white disabled" href="">Service</a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid pt-5 pb-3">
    <div class="container">
        <h6 class="text-secondary text-uppercase text-center font-weight-medium mb-3">Our Services</h6>
        <h1 class="display-4 text-center mb-5" style="color: #194376; font-weight: bold; ">What We Offer</h1>

<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card ">
          <div class="card-body">
            <h3 class="card-title">Food</h3>
            <p class="card-text">
              ISO certification for food encompasses several standards developed by the International Organization for Standardization (ISO) that apply to the food industry.</p>
            <a routerLink="../foodprocessing" class="btn btn-primary" style="background-color: #194376; color: white; padding: 8px 20px  !important; border-radius: 20px !important;">Click Here</a>

          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Automotive</h3>
            <p class="card-text">Automotive ISO certifications have emerged as critical tools in achieving these goals, providing a framework for continuous improvement and customer satisfaction.</p>
            <a routerLink="automotive" class="btn btn-primary" style="background-color: #194376; color: white;border-radius: 20px !important;">Click Here</a>

        </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Telecom</h3>
            <p class="card-text">The telecommunications industry is pivotal in today’s interconnected world, facilitating communication across the globe through various mediums such as telephone, internet, and broadcast networks.</p>
            <a routerLink="telecom" class="btn btn-primary" style="background-color: #194376; color: white;border-radius: 20px !important;">Click Here</a>

        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card ">
          <div class="card-body">
            <h3 class="card-title">Textile</h3>
            <p class="card-text">ISO (International Organization for Standardization) develops and publishes a wide range of standards that apply to various aspects of the textile industry, from quality management and environmental practices to safety and social responsibility.</p>
            <a routerLink="textile" class="btn btn-primary" style="background-color: #194376; color: white;border-radius: 20px !important;">Click Here</a>

        </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Information Technology</h3>
            <p class="card-text">In the ever-evolving landscape of information technology (IT), maintaining quality, reliability, and security standards is paramount for businesses and organizations. .</p>
            <a routerLink="info-tech" class="btn btn-primary" style="background-color: #194376; color: white;border-radius: 20px !important;">Click Here</a>

        </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Product Certification</h3>
            <p class="card-text">In the realm of global markets and manufacturing, ensuring the quality and safety of products is paramount. ISO certification plays a pivotal role in enhancing the credibility and operational excellence of production facilities across various industries.</p>
            <a routerLink="product-certification" class="btn btn-primary" style="background-color: #194376; color: white;border-radius: 20px !important;">Click Here</a>

        </div>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Medical Device</h3>
            <p class="card-text">ISO certification for medical devices, specifically ISO 13485, is a globally recognized standard that outlines the requirements for a comprehensive quality management system (QMS) for the design and manufacture of medical devices.</p>
            <a routerLink="medical-divice" class="btn btn-primary" style="background-color: #194376; color: white;border-radius: 20px !important;">Click Here</a>
    
        </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">General Industries</h3>
            <p class="card-text">
              ISO certification plays a crucial role in the general industry, providing businesses with a framework to ensure quality, safety, efficiency, and customer satisfaction.</p>
            <a routerLink="general-industries" class="btn btn-primary" style="background-color: #194376; color: white; padding: 8px 20px !important; border-radius: 20px !important;">Click Here</a>
    
        </div>
        </div>
      </div>
    </div>
  </div>




 

  
 




  