<!-- Responsive Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-0">
  <div class="container-fluid sec-nav">
    <!-- Brand/logo -->
    <a class="navbar-brand mx-auto mx-lg-0" href="#">
      <img src="../../../assets/download.jpg" alt="" width="100" height="90" class="d-inline-block align-text-top" style="border-radius: 60%;">
    </a>
    
    <!-- Toggler for mobile view -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" routerLink="" style="color: white;">Home</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color: white;" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="about">Company Profile</a>
            <a class="dropdown-item" routerLink="promoters">Promoters</a>
            <a class="dropdown-item" href="../../../assets/ricl-impartiality-policy.pdf" target="_blank">Impartiality Policy</a>
          </div>
        </li>
        <li class="nav-item"><a class="nav-link" routerLink="RTA-Course" style="color: white;">RICL Training Academy</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="accreditation" style="color: white;">Accreditation</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="service" style="color: white;">Services</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="clients" style="color: white;">Clients</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="downloads" style="color: white;">Downloads</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="blogs" style="color: white;">Blogs</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="services" style="color: white;">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>



<div class="container-fluid justify-content-center">
  <!-- Logos -->
  <ul class="list-inline">
    <li class="list-inline-item" >
      <img src="../../../assets/CMMI LOGO.png" alt="CMMI Logo" style="max-height: 80px; padding-TOP: 5%; height:auto">
    </li>
    <li class="list-inline-item" >
      <img src="../../../assets/isaca1.png" alt="ISACA Logo" style="max-height: 80px; padding-TOP: 5%; height:auto">
    </li>
    <li class="list-inline-item" >
      <img src="../../../assets/ECM.png" alt="ECM Logo" style="max-height: 80px; padding-TOP: 5%;height:auto">
    </li>
  </ul>
</div>
