<div class="containe">
  <div class="container py-5">
      <div class="row align-items-center py-4">
          <div class="col-md-6 text-center text-md-left">
              <h1 class="mb-4 mb-md-0 text-white" style="position: absolute;">RTA-Courses</h1>
          </div>
          <div class="col-md-6 text-center text-md-right">
              <div class="d-inline-flex align-items-center">
                  <a class="btn text-white" href="">Home</a>
                  <i class="fas fa-angle-right text-white"></i>
                  <a class="btn text-white disabled" href="">RTA-Courses</a>
              </div>
          </div>
      </div>
  </div>
</div>



<section class="sample-page">
  <div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">
         <div class="col-lg-12 mt-5 mt-lg-0 pl-lg-5">
                <h6 class="text-secondary text-uppercase font-weight-medium mb-3" style="color:#194376 !important;">About Us</h6>
                <!-- <h1 class="mb-4">PROMOTERS</h1> -->
                <p class="mb-2 justify-content">
                  <strong>RICL Training Academy </strong> is a Branch of Royal Imapct Certification Limited which is a tarining Dedicated Branch where we provide the Auditor Training. Our Branch is  also known as "RTA".
                    RICL Training Academy is a leading provider of Exmplar accredited ISO Certification Courses offered through online classes. Our mission is to help individuals and organizations enhance their quality systems and standards through our expert-lead training organization.Our expert instructors bring years of industry experience to the table, ensuring that you receive top-notch training and guidance throughout the course. Whether you're a professional looking to advance your career or an organization striving for ISO certification, we are here to support you every step of the way.</p>
<br>
                    <p>At RICL Training Academy, we understand the importance of having a robust quality management system in place. That's why we have meticulously designed our ISO Certification Course to equip you with the knowledge and skills needed to implement and maintain quality standards effectively.</p>
                <!-- <div class="row"> 
                    <div class="col-sm-12 pt-3">
                        <div class="d-flex align-items-center">
                            <p class="text-secondary font-weight-medium m-0">Prabhakar can be reached at:
                               <br> Email: prabahkar.ricl@gmail.com</p>
                        </div>
                    </div>
                  
                </div> -->
      
        <h6>These are the courses </h6>
      
            </div>






            <div class="container">
              <div class="row">
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <h3 class="card-title">Exemplar Global Courses</h3>
                      <p class="card-text">.Exemplar Global offers a wide range of courses designed to provide the skills and knowledge required to perform audits of management systems against standards such as ISO 9001 (Quality Management Systems), ISO 14001 (Environmental Management Systems), and ISO 45001 (Occupational Health and Safety Management Systems).</p>
                      <a href="https://phpstack-1224806-4367186.cloudwaysapps.com/Exemplor-Global.html" class="btn btn-primary" style="background-color: #194376; color: white;border-radius: 20px !important;">Click Here</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <h3 class="card-title">RTA Certified Courses</h3>
                      <p class="card-text">RICl Training Academy offers a wide range of courses designed to provide the skills and knowledge required to perform audits of management systems against standards such as ISO 9001 (Quality Management Systems), ISO 14001 (Environmental Management Systems), and ISO 45001 (Occupational Health and Safety Management Systems).</p>
                      <a href="https://phpstack-1224806-4367186.cloudwaysapps.com/RTA-Courses.html" class="btn btn-primary" style="background-color: #194376; color: white;border-radius: 20px !important;">Click Here</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <h3 class="card-title">Other Management Courses</h3>
                      <p class="card-text">We offers a wide range of courses designed to provide the skills and knowledge required to perform audits of management systems against standards such as ISO 9001 (Quality Management Systems), ISO 14001 (Environmental Management Systems), and ISO 45001 (Occupational Health and Safety Management Systems).</p>
                      <a href="https://phpstack-1224806-4367186.cloudwaysapps.com/" class="btn btn-primary" style="background-color: #194376; color: white;border-radius: 20px !important;">Click Here</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
