.containe{
  /* background-color: #46c6ce; */
  background-image: url('../../assets/bg.jpg'); /* Path to your image */
  background-size: cover; /* Cover the entire area */
  background-position: center;
  margin: 0%;
  padding: 0%;
}

.card {
  margin-top: 20px;
  border-radius: 15%;
  background-color: #f3f6ff;
  text-align: center;
  width: 325px;
}

.card-text {
  color: #757575;
  padding-bottom: 50px;
}

.card-title {
  padding-top: 25px;
  color: #46C6CE !important;
  font-weight: 800;
}