<div class="containe">
  <div class="container py-5">
      <div class="row align-items-center py-4">
          <div class="col-md-6 text-center text-md-left">
              <h1 class="mb-4 mb-md-0 text-white" style="position: absolute;">Medical Device</h1>
          </div>
          <div class="col-md-6 text-center text-md-right">
              <div class="d-inline-flex align-items-center">
                  <a class="btn text-white" href="">Home</a>
                  <i class="fas fa-angle-right text-white"></i>
                  <a class="btn text-white disabled" href="">Medical Device</a>
              </div>
          </div>
      </div>
  </div>
</div>



<div class="container-fluid pt-5 pb-3">
  <div class="container">
      <h6 class="text-secondary text-uppercase text-center font-weight-medium mb-3">Our Services</h6>
      <h1 class="display-4 text-center mb-5" style="font-weight: bold; color:#194376">Medical Device</h1>
      <div class="row">
          <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color: #194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px; font-weight:bold; color: aqua !important;">CE</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">CE</h2>
              
                         <p class="answer">The CE mark is a mandatory European marking for certain product groups to indicate conformity with the essential health and safety requirements set out in European Directives. The letters 'CE' are an abbreviation of Conformité Européenne, French word for European conformity. The CE mark must be affixed to a product if it falls under the scope of 'New Approach' Directives of European union.</p>
                          
                         <p class="answer">Without the CE marking, and thus without complying with the provisions of the Directives, the product may not be placed in the market or put into service in the fifteen member states of the European Union and Norway, Iceland and Liechtenstein. However, if the product meets the provisions of the applicable European Directives, and the CE mark is affixed to a product, these countries may not prohibit, restrict or impede the placing in the market or putting into service of the product.</p>
                          
                         <p class="answer">The CE Mark is compulsory within the context of the application of EC New Approach Directives. Thus, CE marking can, be regarded as the product’s ‘trade passport’ for Europe.</p>
                          
                          <p class="answer">Notified bodies are recognized organizations within Member States, which can certify conformity assessment on the basis of the New Approach Directives.</p>
                          <p class="question">KEY DIRECTIVES</p>
                          
                          <p class="question">Machinery Safety - 98/37/EEC</p>
                          <p class="answer">All Machines in the European Economic Area (EEA) from January 1st 1995 must comply with the Machinery Directive and be safe. Also all components which are supplied separately to fulfill a safety function when in use and the failure or malfunctioning of which endangers the safety or health of exposed persons.</p>
                          
                          <p class="question">EMC - 2004/108/EC</p>
                          <p class="answer">The EMC Directive applies to apparatus liable to cause electromagnetic disturbance or the performance of which is liable to be affected by such disturbance.</p>
                          
                          <p class="question">Low Voltage Equipment – 2006/95/EC</p>
                          <p class="answer">The Low Voltage Directive applies to all electrical equipment designed for use with a voltage rating between 50 and 1,000v for alternating current and between 75V and 1,500V for direct current. These voltage criteria define the scope of the directive rather than the limit at which you start applying the regulations (e.g. hazards in 12Vdc circuits of a 240Vac supplied computer are covered under the LVD).</p>
                           
          <p class="question">Pressure Equipment – 97/23/EC</p>
                          <p class="answer">This directive covers equipments which affects equipment operating at a pressure greater than 0.5 bars, entered into force and is mandatory from May 2002.</p>
                          
          <p class="question">Medical Devices General - 93/42/EEC</p>
                          <p class="answer">All medical products marketed in European Union must carry the CE Marking under Medical Device directive. There are essential requirements in the MDD (such as safety, efficacy and EMC), and products must meet all applicable requirements.</p>
                          
          <p class="question">Construction Products Directive – 89/106/EEC</p>
                          <p class="answer">Construction Product means any products, which is produced for incorporation in a permanent manner in construction works, including both building and civil engineering works.</p>
                            
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color: #194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px;  font-weight:bold; color: aqua !important;">UKCA</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapse2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">UKCA</h2>
                          
                         <p class="answer">The UKCA marking is the product marking used for products being placed on the market in Great Britain (England, Scotland and Wales). The UKCA marking applies to most products for which the CE marking could be used. It also applies to aerosol products that previously required the reversed epsilon marking. The technical requirements (sometimes referred to as ‘essential requirements’) you must meet for the UKCA marking will depend on the product specific legislation for your product.</p>
                          
                         <p class="answer">Conformity with these requirements can also be achieved by using designated standards (which the UK introduced to replace EU harmonized standards). By following designated standards, manufacturers can claim ‘presumption of conformity’ with the corresponding essential requirements that apply to their product.</p>
                          
                          <p class="answer">The UKCA marking cannot be used for products placed on the Northern Ireland market. Find out more about placing products on the Northern Ireland market.</p>
                          
                          
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color: #194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px;  font-weight:bold; color: aqua !important;">CDSCO</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapse3" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">CDSCO</h2>
                          
                         <p class="answer">The Central Drugs Standard Control Organisation (CDSCO) under Directorate General of Health Services, Ministry of Health & Family Welfare, Government of India is the National Regulatory Authority (NRA) of India. The Drugs & Cosmetics Act,1940 and rules 1945 have entrusted various responsibilities to central & state regulators for regulation of drugs & cosmetics. It envisages uniform implementation of the provisions of the Act & Rules made there under for ensuring the safety, rights and well being of the patients by regulating the drugs and cosmetics. CDSCO is constantly thriving upon to bring out transparency, accountability and uniformity in its services in order to ensure safety, efficacy and quality of the medical product manufactured, imported and distributed in the country.</p>
                          
                          
                         <p class="answer">Under the Drugs and Cosmetics Act, CDSCO is responsible for approval of New Drugs, Conduct of Clinical Trials, laying down the standards for Drugs, control over the quality of imported Drugs in the country and coordination of the activities of State Drug Control Organizations by providing expert advice with a view of bring about the uniformity in the enforcement of the Drugs and Cosmetics Act.</p>
                          
                          
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color: #194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px;  font-weight:bold; color: aqua !important;">ISO 13485</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapse4" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">ISO 13485</h2>
                          
                         <p class="answer">ISO 13485 is the medical industry's optimal medical device standard, which ensures that all medical devices meet the proper regulatory compliance laws and customer needs. ISO 13485 certification is a valuable credential put in place to keep professionals and customers safe in clinics, hospitals and other medical settings.</p>
                          
                          <p class="answer">
                          
                              <p class="answer">ISO 13485 is based on the ISO 9001 process model approach and is a management system standard specifically developed for the manufacture of medical devices. Its primary objective is to facilitate harmonized medical device regulatory requirements. The standard contains specific requirements for manufacture, installation and servicing of medical devices and calls for:</p>
                              <ol>
                          <li>Implementation of a Quality Management System with several enhancements</li>
                          <li>Risk Management approach to product development and product realization</li>
                          <li>Validation of processes</li>
                          <li>Compliance with statutory and regulatory requirements</li>
                          <li>Effective product traceability and recall systems</li>
                       </ol>
                      <!-- </p>   -->
                      
                      <p class="answer">This standard allows companies to reduce safety and legal risks while creating more economical work environments. As an internationally recognized standard of quality and safety for medical device manufacturing, having ISO 13485 certification helps companies get recognized as more reputable, trustworthy providers. The most recent version of ISO 13485 is reviewed every five years and revised according to the new requirements and needs of the industry.</p>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
                          
      </div>
  </div>
</div>