.whatsapp-icon {
    position: fixed;
    right: 0px;
    bottom: 50px;
    z-index: 1000;
     /* background-color: #25D366;  */
   
    color: #25D366; 

    padding : 15px; 
    border-radius: 50%; 
    text-align: center;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  .whatsapp-icon i {
    font-size: 40px; 
  }
  
  /* Add animation on hover */
  .whatsapp-icon:hover {
    transform: scale(1.1);
  }
  
  .scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: none; 
    text-decoration: none;
    /* background-color: rgb(62, 62, 140); */
     box-shadow: 0 2px 5px rgba(1, 1, 1, 0.7);
  }
  .scroll-top:hover{
    transform: scale(1.1);
  }

  
  .scroll-top.d-none {
    display: none;
  }
  
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgb(23 37 84)!important;  */
    z-index: 9999; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  