<div class="containe">
    <div class="container py-5">
        <div class="row align-items-center py-4">
            <div class="col-md-6 text-center text-md-left">
                <h1 class="mb-4 mb-md-0 text-white">Promoters</h1>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <div class="d-inline-flex align-items-center">
                    <a class="btn text-white" href="">Home</a>
                    <i class="fas fa-angle-right text-white"></i>
                    <a class="btn text-white disabled" href="">Promoters</a>
                </div>
            </div>
        </div>
    </div>
</div>



<section class="sample-page">
    <div class="container-fluid py-5">
      <div class="container">
          <div class="row align-items-center">
           <div class="col-lg-12 mt-5 mt-lg-0 pl-lg-5">
                  <h6 class="text-secondary text-uppercase font-weight-medium mb-3">Our Pillars</h6>
                  <h1 class="mb-4">PROMOTERS</h1>
                  <p class="mb-2 justify-content">
                      <strong>Prabhakar Pandey</strong> is a Post Graduate in Management (MBA) from Uttar Pradesh Technical University and a Qualified Lead Auditor for ISO 9001 (QMS) and ISO 14001 (EMS). HE has 6+ years of Progressive Work Experience in the field of Management System Consultancy, Training and Assessments. In the past, he has been associated with various Consultancy Organization and Certification Bodies as an Auditor and Consultant. Some of the Prestigious Clients with whom he has worked includes HDFC Bank, Medical Device Manufacturers besides many SME and Corporate Clients.</p>
                  <div class="row"> 
                      <div class="col-sm-12 pt-3">
                          <div class="d-flex align-items-center">
                              <p class="text-secondary font-weight-medium m-0">Prabhakar can be reached at:
                                 <br> Email: prabahkar.ricl@gmail.com</p>
                          </div>
                      </div>
                    
                  </div>
              </div>
              <div class="col-lg-12 mt-5 mt-lg-0 pl-lg-5 ">
                  <p class="mb-2 mt-5 justify-content">
                    <strong>  Vivek Sharma</strong> is a Science Graduate from Meerut University and a Qualified Lead Auditor for ISO 9001 (QMS). HE has 10+ years of Progressive Industrial Experience and has provided Consultancy Services to 100+ Clients. In the past, he has been associated with various Certification Bodies and other Companies as an Auditor, Technical Expert and Management Representative. Some of the Prestigious Clients with whom he has worked includes Indian Army, Punjab Police and Indian Railways besides many SME and Corporate Clients.</p>
                  <div class="row"> 
                      <div class="col-sm-12 pt-3">
                          <div class="d-flex align-items-center">
                              <p class="text-secondary font-weight-medium m-0 ">Vivek can be reached at:
                                <br>  Email: vivek.ricl@gmail.com</p>
                          </div>
                      </div>
                    
                  </div>
              </div>
          </div>
      </div>
  </div>
  </section>
