<div class="containe">
    <div class="container py-5">
        <div class="row align-items-center py-4">
            <div class="col-md-6 text-center text-md-left">
                <h1 class="mb-4 mb-md-0 text-white" style="position: absolute;">Contact Us</h1>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <div class="d-inline-flex align-items-center">
                    <a class="btn text-white" href="">Home</a>
                    <i class="fas fa-angle-right text-white"></i>
                    <a class="btn text-white disabled" href="">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="img-container">
    <h2 class="bold-text" style="color: #194676; text-align:center; text-decoration:underline; font-weight:bold">Our International Braches</h2>
    <!-- <div class="img"> <img src="assets/india.jpg" alt=""></div> -->
    <div class="img"> <img src="assets/world.jpg" alt=""></div>
  </div>
<br>

 <div class="card-container">
  <div class="card col-sm-4">
    <h2>International Corporate Office</h2>
    <div class="info">
      <i class="fas fa-envelope"></i>
      <p>Email:info@ricliso.com</p>
    </div>
    <div class="info">
      <i class="fas fa-phone"></i>
      <p>Contact Number: +1-302-5020434</p>
    </div>
    <div class="info">
      <i class="fas fa-map-marker-alt"></i>
      <p> Royal Impact Certification LLC, 
        1207, Delaware Ave # 1634,
        Wilmington, DE 19806 USA.</p>
    </div>
  </div>



  <div class="card col-sm-4">
    <h2>Canada Office</h2>
    <div class="info">
      <i class="fas fa-envelope"></i>
      <p>Email:inforicliso.com</p>
    </div>
    <div class="info">
      <i class="fas fa-phone"></i>
      <p>Contact Number: +1 (613) 463-40006</p>
    </div>
    <div class="info">
      <i class="fas fa-map-marker-alt"></i>
      <p> Royal Impact Certification Canada, 
        150 Elgin Street, K2P 1L4
        Ottawa, Ontario, Canada</p>
    </div>
  </div>
  
  <div class="card col-sm-4">
    <h2>Egypt Representative Office</h2>
    <div class="info">
      <i class="fas fa-envelope"></i>
      <p>Email: egypt@ricliso.com    </p>
    </div>
    <div class="info">
      <i class="fas fa-phone"></i>
      <p>Contact Number:+1 (613) 463-40006</p>
    </div>
    <div class="info">
      <i class="fas fa-map-marker-alt"></i>
      <p>Centerior, 62, Nehro Street, Heliopolis, Cairo 11341, Egypt
        Authorized Representative - Dr. Rania Elsaraf</p>
    </div>
  </div>


  <div class="card col-sm-4">
    <!-- <img src="assets/italy.png" class="icon" alt="Icon"> -->
    <h2>Italy Representative Office</h2>
    
    <div class="info">
      <i class="fas fa-envelope"></i>
      <p>Email:italy@ricliso.com</p>
    </div>
    <div class="info">
      <i class="fas fa-phone"></i>
      <p>Contact Number:+1 (613) 463-40006</p>
    </div>
    <div class="info">
      <i class="fas fa-map-marker-alt"></i>
      <p>via Eugenio Barsanti, 337139 Verona VR,Italy
        Authorized Representative - Dr. Enzo Benedetti</p>
    </div>
  </div>

</div>
  

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-md-4">
                <!-- <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 100px; height: 100px; border-width: 15px !important;">
                        <i class="fa fa-2x fa-map-marker-alt text-secondary"></i>
                    </div>
                    <h5 class="font-weight-medium m-0 mt-2">
                        <b>International Corporate Office</b><br>
                        Royal Impact Certification LLC, 
                        1207, Delaware Ave # 1634,
                        Wilmington, DE 19806 USA.</h5>
                    </div> -->
            </div>
            <!-- <div class="col-md-4">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 100px; height: 100px; border-width: 15px !important;">
                        <i class="fa fa-2x fa-envelope-open text-secondary"></i>
                    </div>
                    <h5 class="font-weight-medium m-0 mt-2"><a href="mailto:info@ricliso.com" style="text-decoration:none; color:black;">info@ricliso.com</a><br>
                </h5></div>
            </div> -->
            <!-- <div class="col-md-4">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 100px; height: 100px; border-width: 15px !important;">
                        <i class="fa fa-2x fa-phone-alt text-secondary"></i>
                    </div>
                    <h5 class="font-weight-medium m-0 mt-2">+1-302-5020434</h5>
                </div>
            </div> -->
            <!-- <div class="col-md-4">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 100px; height: 100px; border-width: 15px !important;">
                        <i class="fa fa-2x fa-map-marker-alt text-secondary"></i>
                    </div>
                    <h5 class="font-weight-medium m-0 mt-2">
                        <b>Canada Office</b><br>
                        Royal Impact Certification Canada, 
                        150 Elgin Street, K2P 1L4
                        Ottawa, Ontario, Canada</h5>
                    </div>
            </div> -->
            <!-- <div class="col-md-4">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 100px; height: 100px; border-width: 15px !important;">
                        <i class="fa fa-2x fa-envelope-open text-secondary"></i>
                    </div>
                    <h5 class="font-weight-medium m-0 mt-2"><a href="mailto:info@ricliso.com" style="text-decoration:none; color:black;">info@ricliso.com</a><br>
               </h5></div>
            </div> -->
            <!-- <div class="col-md-4">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 100px; height: 100px; border-width: 15px !important;">
                        <i class="fa fa-2x fa-phone-alt text-secondary"></i>
                    </div>
                    <h5 class="font-weight-medium m-0 mt-2">+1 (613) 463-40006</h5>
                </div> -->
            </div>





            <!-- <div class="col-md-4"> -->
                <!-- <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 100px; height: 100px; border-width: 15px !important;">
                        <i class="fa fa-2x fa-map-marker-alt text-secondary"></i>
                    </div>
                    <h5 class="font-weight-medium m-0 mt-2">
                        <b>Egypt Representative Office</b><br>
                        Centerior, 62, Nehro Street, Heliopolis, Cairo 11341, Egypt<br>
                        Authorized Representative - Dr. Rania Elsaraf</h5>
                    </div> -->
            <!-- </div> -->
            <!-- <div class="col-md-4">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 100px; height: 100px; border-width: 15px !important;">
                        <i class="fa fa-2x fa-envelope-open text-secondary"></i>
                    </div>
                    <h5 class="font-weight-medium m-0 mt-2"><a href="mailto:info@ricliso.com" style="text-decoration:none; color:black;">egypt@ricliso.com</a><br>
               </h5></div>
            </div> -->
            <!-- <div class="col-md-4">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 100px; height: 100px; border-width: 15px !important;">
                        <i class="fa fa-2x fa-phone-alt text-secondary"></i>
                    </div>
                    <h5 class="font-weight-medium m-0 mt-2">+1 (613) 463-40006</h5>
                </div>
            </div> -->



            <!-- <div class="col-md-4">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 100px; height: 100px; border-width: 15px !important;">
                        <i class="fa fa-2x fa-map-marker-alt text-secondary"></i>
                    </div>
                    <h5 class="font-weight-medium m-0 mt-2">
                        <b>Italy Representative Office</b><br>
                        via Eugenio Barsanti, 337139 Verona VR,Italy<br>
                        Authorized Representative - Dr. Enzo Benedetti<br>
                        Email - italy@ricliso.com
                    </h5>
                    </div>
            </div> -->
            <!-- <div class="col-md-4">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 100px; height: 100px; border-width: 15px !important;">
                        <i class="fa fa-2x fa-envelope-open text-secondary"></i>
                    </div>
                    <h5 class="font-weight-medium m-0 mt-2"><a href="mailto:info@ricliso.com" style="text-decoration:none; color:black;">italy@ricliso.com</a><br>
               </h5></div>
            </div> -->
            <!-- <div class="col-md-4">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 100px; height: 100px; border-width: 15px !important;">
                        <i class="fa fa-2x fa-phone-alt text-secondary"></i>
                    </div>
                    <h5 class="font-weight-medium m-0 mt-2">+1 (613) 463-40006</h5>
                </div>
            </div> -->



            <div class="img-container">
                <h2 class="bold-text" style="color: #194676; text-align:center; text-decoration:underline; font-weight:bold">Our Domestic Braches</h2>
                <div class="img"> <img src="assets/india.jpg" alt=""></div>
                <!-- <div class="img"> <img src="assets/world.jpg" alt=""></div> -->
              </div>

              <br><br>
              <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.0899505114207!2d77.36982177409408!3d28.627066084331442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce5336becb191%3A0xa89caf8bfb9e7068!2siThum-Noida!5e0!3m2!1sen!2sin!4v1712126235631!5m2!1sen!2sin" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
        <br> -->

              <div class="card-container">
                <div class="card col-sm-4">
                  <h2>Corporate Office</h2>
                  <div class="info">
                    <i class="fas fa-envelope"></i>
                    <p>Email:info@ricliso.com,<br>
                        dir.ricl@gmail.com</p>
                  </div>
                  <div class="info">
                    <i class="fas fa-phone"></i>
                    <p>Contact Number:9266666836, 9358341186</p>
                  </div>
                  <div class="info">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>Royal Impact Certification Ltd.
                        623,Tower B, iThum,Plot No. 
                        A-40, Sector 62,
                        Noida 201301.</p>
                  </div>
                </div>
              
              
              
                <div class="card col-sm-4">
                  <h2>Ahmedabad Office</h2>
                  <div class="info">
                    <i class="fas fa-envelope"></i>
                    <p>Email:inforicliso.com</p>
                  </div>
                  <div class="info">
                    <i class="fas fa-phone"></i>
                    <p>Contact Number: +1234567890</p>
                  </div>
                  <div class="info">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>501, 5th Floor, Shapath-I, SG Hwy, Ahmedabad – 380054 (Gujarat), India.</p>
                  </div>
                </div>
                
                <div class="card col-sm-4">
                  <h2>Bangalore Office</h2>
                  <div class="info">
                    <i class="fas fa-envelope"></i>
                    <p>Email:inforicliso.com</p>
                  </div>
                  <div class="info">
                    <i class="fas fa-phone"></i>
                    <p>Contact Number: +1234567890</p>
                  </div>
                  <div class="info">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>198, CMH Road, 2nd Floor, Suite No.3518, Indiranagar, Bangalore – 560038 (Karnataka), India.</p>
                  </div>
                </div>
              
              
                <div class="card col-sm-4">
                  <h2>Bhubaneshwar Office</h2>
                  <div class="info">
                    <i class="fas fa-envelope"></i>
                    <p>Email:inforicliso.com</p>
                  </div>
                  <div class="info">
                    <i class="fas fa-phone"></i>
                    <p>Contact Number: +1234567890</p>
                  </div>
                  <div class="info">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>618, Floor - 6, Esplanade-1, Rasulgarh, Bhubaneswar – 751010 (Odisha), India.</p>
                  </div>
                </div>
              
              </div>

              <div class="card-container">
                <div class="card col-sm-4">
                  <h2>Chennai Office</h2>
                  <div class="info">
                    <i class="fas fa-envelope"></i>
                    <p>Email:inforicliso.com</p>
                  </div>
                  <div class="info">
                    <i class="fas fa-phone"></i>
                    <p>Contact Number: +1234567890</p>
                  </div>
                  <div class="info">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>715A, 7th Floor, Spencer Plaza, Mount Road, Chennai – 600002 (Tamilnadu), India.</p>
                  </div>
                </div>
              
              
              
                <div class="card col-sm-4">
                  <h2>Ludhiyana Office</h2>
                  <div class="info">
                    <i class="fas fa-envelope"></i>
                    <p>Email:inforicliso.com</p>
                  </div>
                  <div class="info">
                    <i class="fas fa-phone"></i>
                    <p>Contact Number: +1234567890</p>
                  </div>
                  <div class="info">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>531, Shahpur Road, Near Kuku Hosiery, Subhani Building Chowk, Ludhiana - 141001 (Punjab), India.</p>
                  </div>
                </div>
                
                <div class="card col-sm-4">
                  <h2>Meerut Office</h2>
                  <div class="info">
                    <i class="fas fa-envelope"></i>
                    <p>Email:inforicliso.com</p>
                  </div>
                  <div class="info">
                    <i class="fas fa-phone"></i>
                    <p>Contact Number: +1234567890</p>
                  </div>
                  <div class="info">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>209-210, Aditya Palace, Garh Road, Meerut – 250001 (Uttar Pradesh), India.</p>
                  </div>
                </div>
              
              
                <div class="card col-sm-4">
                  <h2>Mumbai Office</h2>
                  <div class="info">
                    <i class="fas fa-envelope"></i>
                    <p>Email:inforicliso.com</p>
                  </div>
                  <div class="info">
                    <i class="fas fa-phone"></i>
                    <p>Contact Number: +1234567890</p>
                  </div>
                  <div class="info">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>@Wegrow, 8th floor, Proxima (Arunachal Bhavan), Plot No. 19, Sector 30A, Vashi, Navi Mumbai - 400703 (Maharashtra), India.</p>
                  </div>
                </div>
              
              </div>

            <!-- <div class="col-md-4">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 100px; height: 100px; border-width: 15px !important;">
                        <i class="fa fa-2x fa-map-marker-alt text-secondary"></i>
                    </div>
                    <h5 class="font-weight-medium m-0 mt-2">
                        <b>Corporate Office (India &amp; Middle East)</b><br>
                        Royal Impact Certification Ltd.
                        623,Tower B, iThum,Plot No. 
                        A-40, Sector 62,
                        Noida 201301.</h5>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 100px; height: 100px; border-width: 15px !important;">
                        <i class="fa fa-2x fa-envelope-open text-secondary"></i>
                    </div>
                    <h5 class="font-weight-medium m-0 mt-2"><a href="mailto:info@ricliso.com" style="text-decoration:none; color:black;">info@ricliso.com</a><br>
                        <a href="mailto:dir.ricl@gmail.com" style="text-decoration:none; color:black;">dir.ricl@gmail.com</a></h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 100px; height: 100px; border-width: 15px !important;">
                        <i class="fa fa-2x fa-phone-alt text-secondary"></i>
                    </div>
                    <h5 class="font-weight-medium m-0 mt-2">9266666836, 9358341186</h5>
                    <h5 class="font-weight-medium m-0 mt-2">0120 - 4113893</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 100px; height: 100px; border-width: 15px !important;">
                        <i class="fa fa-2x fa-map-marker-alt text-secondary"></i>
                    </div>
                    <h5 class="font-weight-medium m-0 mt-2">
                        <b>Ahmedabad Office</b><br> 501, 5th Floor,
                        Shapath-I, SG Hwy, Ahmedabad – 380054
                        (Gujarat), India.</h5>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 100px; height: 100px; border-width: 15px !important;">
                        <i class="fa fa-2x fa-map-marker-alt text-secondary"></i>
                    </div>
                    <h5 class="font-weight-medium m-0 mt-2">
                        <b>Bangalore Office</b><br> 
                        Bangalore Office: 198, CMH Road, 2nd
                        Floor, Suite No.3518, Indiranagar,
                        Bangalore – 560038 (Karnataka), India.
                        </h5>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 100px; height: 100px; border-width: 15px !important;">
                        <i class="fa fa-2x fa-map-marker-alt text-secondary"></i>
                    </div>
                    <h5 class="font-weight-medium m-0 mt-2">
                        <b>Bhubaneshwar Office</b><br> 
                        618, Floor - 6,
                        Esplanade-1, Rasulgarh, Bhubaneswar –
                        751010 (Odisha), India.
                        </h5>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 100px; height: 100px; border-width: 15px !important;">
                        <i class="fa fa-2x fa-map-marker-alt text-secondary"></i>
                    </div>
                    <h5 class="font-weight-medium m-0 mt-2">
                        <b>Chennai Office</b><br> 
                        715A, 7th Floor, Spencer
                        Plaza, Mount Road, Chennai – 600002
                        (Tamilnadu), India.
                    </h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 100px; height: 100px; border-width: 15px !important;">
                        <i class="fa fa-2x fa-map-marker-alt text-secondary"></i>
                    </div>
                    <h5 class="font-weight-medium m-0 mt-2">
                        <b>Ludhiana Office</b><br> 
                        531, Shahpur Road, Near
                        Kuku Hosiery, Subhani Building Chowk,
                        Ludhiana - 141001 (Punjab), India.
                    </h5>
                </div>
            </div>
            <div class="col-md-5">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 100px; height: 100px; border-width: 15px !important;">
                        <i class="fa fa-2x fa-map-marker-alt text-secondary"></i>
                    </div>
                    <h5 class="font-weight-medium m-0 mt-2">
                        <b>Meerut Office</b><br> 
                        209-210, Aditya Palace,
                        Garh Road, Meerut – 250001 (Uttar
                        Pradesh), India.
                    </h5>
                </div>
            </div>
            <div class="col-md-5">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 100px; height: 100px; border-width: 15px !important;">
                        <i class="fa fa-2x fa-map-marker-alt text-secondary"></i>
                    </div>
                    <h5 class="font-weight-medium m-0 mt-2">
                        <b>Mumbai Office</b><br> 
                        @Wegrow, 8th floor, Proxima (Arunachal Bhavan),
                        Plot No. 19, Sector 30A, Vashi, Navi Mumbai - 400703
                       (Maharashtra), India.
                    </h5>
                </div>
            </div> -->
            <!-- <div class="col-md-4">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 100px; height: 100px; border-width: 15px !important;">
                        <i class="fa fa-2x fa-map-marker-alt text-secondary"></i>
                    </div>
                    <h5 class="font-weight-medium m-0 mt-2">
                        <b>Egypt Representative Office</b><br> 
                        Centerior, 62, Nehro Street, Heliopolis, Cairo 11341, Egypt<br>
                        Authorized Representative - Dr. Rania Elsaraf<br>
                        Email - egypt@ricliso.com
                    </h5>
                </div>
            </div>
           <div class="col-md-4">
                <div class="d-flex flex-column align-items-center justify-content-center text-center mb-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white border border-light shadow rounded-circle mb-4" style="width: 100px; height: 100px; border-width: 15px !important;">
                        <i class="fa fa-2x fa-map-marker-alt text-secondary"></i>
                    </div>
                    <h5 class="font-weight-medium m-0 mt-2">
                        <b>Italy Representative Office</b><br> 
                        via Eugenio Barsanti, 337139 Verona VR,Italy<br>
                        Authorized Representative - Dr. Enzo Benedetti<br>
                        Email - italy@ricliso.com
                    </h5>
                </div>
            </div>
        </div>
    </div> -->
    <div class="col-12">
        <div class="contact-form"  style="align-items: center !important;">




            <!-- <div><h5 style="text-decoration: underline;">Enquiry Form</h5></div> -->
            <h2>Contact Us</h2>
   <form #contactForm="ngForm" action="https://formspree.io/f/xleqpkej" method="POST" (ngSubmit)="submitForm(contactForm)">
   
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" ngModel required><br>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" ngModel required><br>
    </div>
    <div>
      <label for="message">Message:</label>
      <textarea id="message" name="message" rows="4" ngModel required></textarea><br>
    </div>
    <button type="submit" [disabled]="!contactForm.valid">Submit</button>
  </form> 
  <br><br>




  <!-- <form
  action="https://formspree.io/f/mbjnpggk"
  method="POST"
>
  <label>
    Your email:
    <input type="email" name="email">
  </label>
  <label>
    Your message:
    <textarea name="message"></textarea>
  </label>
 
  <button type="submit">Send</button>
</form> -->

  <!-- <form action="https://formspree.io/f/mbjnpggk" method="POST" class="custom-form">
    <div class="form-group">
      <label for="email">Your email:</label>
      <input type="email" name="email" id="email" placeholder="Enter your email" required>
    </div>
    <div class="form-group">
      <label for="message">Your message:</label>
      <textarea name="message" id="message" placeholder="Enter your message" required rows="4"></textarea>
    </div>
    <button type="submit" class="submit-btn">Send</button>
  </form> -->
  






 
  
            <!-- <div><h5 style="text-decoration: underline;">Enquiry Form</h5></div>

            <form id="contactForm_enq" action="" method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="control-group">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name" fdprocessedid="jcefra">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="control-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" style="margin-top:8px;" fdprocessedid="5884ew">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <input type="phone" class="form-control" id="phone" name="phone" placeholder="Phone" required="required" data-validation-required-message="Please enter you phone" fdprocessedid="ipj0b">
                    <p class="help-block text-danger"></p>
                </div>
                <div class="control-group">
                    <textarea class="form-control" rows="6" id="message" name="message" placeholder="Message" required="required" data-validation-required-message="Please enter your message"></textarea>
                    <p class="help-block text-danger"></p>
                </div>
                <div>
                    <button class="btn btn-primary py-2 px-2" type="submit" id="sendMessageButton" fdprocessedid="djp1ve">Send Message</button><br>
                    
                </div>
            </form>
        </div> -->
    </div>
</div>
