<div class="containe">
  <div class="container py-5">
      <div class="row align-items-center py-4">
          <div class="col-md-6 text-center text-md-left">
              <h1 class="mb-4 mb-md-0 text-white" style="position: absolute;">Product Certification</h1>
          </div>
          <div class="col-md-6 text-center text-md-right">
              <div class="d-inline-flex align-items-center">
                  <a class="btn text-white" href="">Home</a>
                  <i class="fas fa-angle-right text-white"></i>
                  <a class="btn text-white disabled" href="">Product Certification </a>
              </div>
          </div>
      </div>
  </div>
</div>



<div class="container-fluid pt-5 pb-3">
  <div class="container">
      <h6 class="text-secondary text-uppercase text-center font-weight-medium mb-3">Our Services</h6>
      <h1 class="display-4 text-center mb-5" style="color: #194376; font-weight:bold">Product Certification</h1>
      <div class="row">
          <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color: #194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px; font-weight:bold; color: aqua !important;">CE</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">CE</h2>
              
                         <p class="answer">The CE mark is a mandatory European marking for certain product groups to indicate conformity with the essential health and safety requirements set out in European Directives. The letters 'CE' are an abbreviation of Conformité Européenne, French word for European conformity. The CE mark must be affixed to a product if it falls under the scope of 'New Approach' Directives of European union.</p>
                          
                         <p class="answer">Without the CE marking, and thus without complying with the provisions of the Directives, the product may not be placed in the market or put into service in the fifteen member states of the European Union and Norway, Iceland and Liechtenstein. However, if the product meets the provisions of the applicable European Directives, and the CE mark is affixed to a product, these countries may not prohibit, restrict or impede the placing in the market or putting into service of the product.</p>
                          
                         <p class="answer">The CE Mark is compulsory within the context of the application of EC New Approach Directives. Thus, CE marking can, be regarded as the product’s ‘trade passport’ for Europe.</p>
                          
                          <p class="answer">Notified bodies are recognized organizations within Member States, which can certify conformity assessment on the basis of the New Approach Directives.</p>
                          <p class="question">KEY DIRECTIVES</p>
                          
                          <p class="question">Machinery Safety - 98/37/EEC</p>
                          <p class="answer">All Machines in the European Economic Area (EEA) from January 1st 1995 must comply with the Machinery Directive and be safe. Also all components which are supplied separately to fulfill a safety function when in use and the failure or malfunctioning of which endangers the safety or health of exposed persons.</p>
                          
                          <p class="question">EMC - 2004/108/EC</p>
                          <p class="answer">The EMC Directive applies to apparatus liable to cause electromagnetic disturbance or the performance of which is liable to be affected by such disturbance.</p>
                          
                          <p class="question">Low Voltage Equipment – 2006/95/EC</p>
                          <p class="answer">The Low Voltage Directive applies to all electrical equipment designed for use with a voltage rating between 50 and 1,000v for alternating current and between 75V and 1,500V for direct current. These voltage criteria define the scope of the directive rather than the limit at which you start applying the regulations (e.g. hazards in 12Vdc circuits of a 240Vac supplied computer are covered under the LVD).</p>
                           
          <p class="question">Pressure Equipment – 97/23/EC</p>
                          <p class="answer">This directive covers equipments which affects equipment operating at a pressure greater than 0.5 bars, entered into force and is mandatory from May 2002.</p>
                          
          <p class="question">Medical Devices General - 93/42/EEC</p>
                          <p class="answer">All medical products marketed in European Union must carry the CE Marking under Medical Device directive. There are essential requirements in the MDD (such as safety, efficacy and EMC), and products must meet all applicable requirements.</p>
                          
          <p class="question">Construction Products Directive – 89/106/EEC</p>
                          <p class="answer">Construction Product means any products, which is produced for incorporation in a permanent manner in construction works, including both building and civil engineering works.</p>
                            
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color: #194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px; font-weight:bold; color: aqua !important;">UKCA</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapse2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">UKCA</h2>
                          
                         <p class="answer">The UKCA marking is the product marking used for products being placed on the market in Great Britain (England, Scotland and Wales). The UKCA marking applies to most products for which the CE marking could be used. It also applies to aerosol products that previously required the reversed epsilon marking. The technical requirements (sometimes referred to as ‘essential requirements’) you must meet for the UKCA marking will depend on the product specific legislation for your product.</p>
                          
                          
                         <p class="answer">Conformity with these requirements can also be achieved by using designated standards (which the UK introduced to replace EU harmonized standards). By following designated standards, manufacturers can claim ‘presumption of conformity’ with the corresponding essential requirements that apply to their product.</p>
                          
                          <p class="answer">The UKCA marking cannot be used for products placed on the Northern Ireland market. Find out more about placing products on the Northern Ireland market.
                          </p>
                          
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color: #194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px; font-weight:bold; color: aqua !important;">SIL</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapse3" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">SIL</h2>
                          
                         <p class="answer">Safety integrity level (SIL) is defined as a relative level of risk-reduction provided by a safety function, or to specify a target level of risk reduction. In simple terms, SIL is a measurement of performance required for a safety instrumented function (SIF).</p>
                          
                         <p class="answer">With certification requirements for industrial fire and gas detection (especially in Europe with the introduction of the ATEX standard concerning Safety Related Devices) now including product measurement and physical performances, the ability of the product to carry out its safety function when called to do so is becoming increasingly important. 
                          The IEC 61508 standard (Functional Safety of Electrical/Electronic/Programmable Electronic Safety-related Systems) has introduced a risk-based approach for determining the SIL of safety instrumented functions with a complete approach to quantifying the safety performance of electrical control systems, including the design concept, the management of the design process, operations, and the maintenance of the system throughout its lifecycle.</p>
                          
                          <p class="answer">While IEC 61508 provides the general framework, for gas detection equipment the relevant standard is EN50402:2005+A1:2008 Electrical apparatus for the detection and measurement of combustible or toxic gases or vapours or of Oxygen. Requirements on the functional safety of fixed gas detection systems.</p>
                          
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color: #194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px; font-weight:bold; color: aqua !important;">ATEX</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapse4" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">ATEX</h2>
                         
                          <p class="answer"> 
                              <p class="answer">ATEX is the name commonly given to the two European Directives for controlling explosive atmospheres:  </p>
                              <ol>
                          <li>Directive 99/92/EC (also known as 'ATEX 137' or the 'ATEX Workplace Directive') on minimum requirements for improving the health and safety protection of workers potentially at risk from explosive atmospheres.</li>
                          <li>Directive 2014/34/EU (also known as 'ATEX 114' or 'the ATEX Equipment Directive') on the approximation of the laws of Members States concerning equipment and protective systems intended for use in potentially explosive atmospheres.</li>
                       </ol>
                      <!-- </p>   -->
                      
                          <p class="answer">ATEX Certification is a product regulation which ensures the safety of equipment intended for use in potentially explosive atmospheres in the European Union. Certifying your products to ATEX helps improve the safety and protect the health of workers potentially at risk from explosive environments such as those found in the petrochemical industries, underground mining or food production.</p>
                          
                          <p class="answer">ATEX is a mandatory scheme based upon compliance with specified essential requirements within the EU.  The EN 60079 series of standards were put in place to test electrical equipment and assemblies that pose an ignition risk going into potential explosive atmospheres, with specific standards relating to specific protection concepts. </p>
                          
                          <p class="answer">The protection concepts are defined methods and approaches that manufacturers apply as part of their special precautions to reduce the likelihood of ignition being present to an acceptable level. ATEX Zones are the dangerous areas used for classification between environments with different levels of danger. The protection concepts and ATEX Zones that your products should be tested to are determined by yourself or driven by the market. </p>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color: #194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px; font-weight:bold; color: aqua !important;">IECEx</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapse5" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">IECEx</h2>
                       
                          <p class="answer"> 
                              <p class="answer"> The objective of the IECEx System is to facilitate international trade in equipment and services for use in explosive atmospheres, while maintaining the required level of safety: </p>
                              <ol>
                          <li>reduced testing and certification costs to manufacturer</li>
                          <li>reduced time to market</li>
                          <li>international confidence assessment process of products, equipment, personnel, and facilities</li>
                          <li>one international database listing for certified Ex equipment & Ex components, personnel, and facilities
                          </li>
                          <li>maintaining International Confidence in equipment, personnel, and services covered by IECEx Certification</li>
                       </ol>
                      <!-- </p>      -->
                      
                      <p class="answer">IECEx provides a means for manufacturers, regulators and users of equipment used in hazardous areas to address the risk of fires or explosions from flammable gases or dusts. Testing and certification of equipment, services and competence of persons to international standards facilitates the sale of safer products internationally at a lower cost.</p>
                      
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color: #194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px; font-weight:bold; color: aqua !important;">SASO</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapse6" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">SASO</h2>
                          
                         <p class="answer">If you are looking to export your product to Saudi Arabia, then chances are that you will need to conform to a set of technical regulations and standards that apply to your product. The country’s product safety program requires that nearly all products exported to the Kingdom of Saudi Arabia (KSA) to be accompanied by a SASO Certificate of Conformity.</p>
                          
                          
                         <p class="answer">The Saudi Standards, Metrology and Quality Organization (SASO) is a government body in the Kingdom of Saudi Arabia (KSA). SASO is entrusted with governing tasks related to quality, metrology and standards in the KSA and manages the country’s product safety program, called SALEEM.</p>
                          
                          <p class="answer">A SASO Certificate of Conformity affirms that a product complies with all the specifications outlined in the Saudi market’s applicable technical regulations and standards under their product conformity program, SALEEM.</p>
                          
                          <p class="answer">The Product Conformity Program (SALEEM) mandates that regulated products that are imported to the country must be accompanied by a Product Certification of Conformity (PCoC) and a Shipment Certification of Conformity (SCoC) for every shipment. These certifications are only granted once you comply with the applicable standards and technical regulations for that product category in the product safety program.</p>
                          
                          
                          <p class="answer">
                              <p class="answer">The products required to have a CoC Certificate in Saudi Arabia are referred to as “Regulated Products” in the Technical Regulations. They include:</p>
                              <ol>
                          <li>Textile</li>
                          <li>Mechanical</li>
                          <li>Electrical and Electronics Products</li>
                          <li>Construction and Building Materials</li>
                          <li>Chemicals</li>
                       </ol>
                      <!--      -->
                      
                      <p class="answer">These products are categorized as high-risk/medium-risk based on the Product Certification Scheme and may be subject to additional requirements and control, depending on the risk level. Find the technical regulation for each product category here.</p>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color: #194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px; font-weight:bold; color: aqua !important;">IEC</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapse7" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">IEC</h2>
                          
                         <p class="answer">IEC stands for International Electrotechnical Commission. IEC provides a standardized approach to testing and certification. IEC testing brings together the agreed-upon set of rules, specifications, and terminology that allow manufacturers to have their devices tested for conformity. Testing a product or device to a standard then allows that one assessment to provide access to several markets. The IEC is the world’s leading organization for the preparation and publication of International Standards for all electrical, electronic, and related technologies.</p>
                          
                         
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>
