<div class="containe">
    <div class="container py-5">
        <div class="row align-items-center py-4">
            <div class="col-md-6 text-center text-md-left">
                <h1 class="mb-4 mb-md-0 text-white" style="position: absolute;">Downloads</h1>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <div class="d-inline-flex align-items-center">
                    <a class="btn text-white" href="">Home</a>
                    <i class="fas fa-angle-right text-white"></i>
                    <a class="btn text-white disabled" href="">Downloads</a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 mt-5 mt-lg-0 pl-lg-5">
                <h6 class="text-secondary text-uppercase font-weight-medium mb-3">Important Documents</h6>
                <h1 class="mb-4"  style="color: #194376;" >Downloads</h1>
                <ul>
                                                <li class="mb-3">
                            <a href="https://ricliso.com/admin/assets/important_documents/5/5_application-form-ms.pdf" target="blank" style="text-decoration: none; color:black;">Application Form (Management System)</a>
                        </li>
                                                <li class="mb-3">
                            <a href="https://ricliso.com/admin/assets/important_documents/7/7_certification-agreement.pdf" target="_blank" style="text-decoration: none; color:black;">Certification Agreement</a>
                        </li>
                                                <li class="mb-3">
                            <a href="https://ricliso.com/admin/assets/important_documents/8/8_legal-status.pdf" target="_blank" style="text-decoration: none; color:black;">Legal Status</a>
                        </li>
                                                <li class="mb-3">
                            <a href="https://ricliso.com/admin/assets/important_documents/9/9_certification-process.pdf" target="_blank" style="text-decoration: none; color:black;">Certification Process</a>
                        </li>
                                                <li class="mb-3">
                            <a href="https://ricliso.com/admin/assets/important_documents/10/10_suspending-withdrawl-procedure.pdf" target="_blank" style="text-decoration: none; color:black;">Suspension, Withdrawl, Reduction in Scope of Certification</a>
                        </li>
                                                <li class="mb-3">
                            <a href="https://ricliso.com/admin/assets/important_documents/11/11_complaints-and-appeals.pdf" target="_blank" style="text-decoration: none; color:black;">Complaints & Appeals</a>
                        </li>
                                                <li class="mb-3">
                            <a href="https://ricliso.com/admin/assets/important_documents/13/13_certificate-mark-logo-usage-uaf.pdf" target="_blank" style="text-decoration: none; color:black;">Certification Mark (Logo) Usage (UAF)</a>
                        </li>
                                                <li class="mb-3">
                            <a href="https://ricliso.com/admin/assets/important_documents/15/15_RICL_Refund_Policy_Download_Section.pdf" target="_blank" style="text-decoration: none; color:black;">Refund Policy</a>
                        </li>
                                                <li class="mb-3">
                            <a href="https://ricliso.com/admin/assets/important_documents/16/16_RICLTermsConditionsDownloadSection.pdf" target="_blank" style="text-decoration: none; color:black;">Terms and Conditions</a>
                        </li>
                                                <li class="mb-3">
                            <a href="https://ricliso.com/admin/assets/important_documents/17/17_application-form-fsms.pdf" target="_blank" style="text-decoration: none; color:black;">Application Form - FSMS</a>
                        </li>
                                                <li class="mb-3">
                            <a href="https://ricliso.com/admin/assets/important_documents/18/18_application-form-isms-itsm.pdf" target="_blank" style="text-decoration: none; color:black;">Application Form ISMS ITSM</a>
                        </li>
                                                <li class="mb-3">
                            <a href="https://ricliso.com/admin/assets/important_documents/19/19_f64-application-form-mdqms.pdf" target="_blank" style="text-decoration: none; color:black;">F64 Application Form MDQMS</a>
                        </li>
                                            <!--<li class="mb-3">
                        <a href="https://ricliso.com/./assets/downloads/certification-agreement.pdf" target="_blank">Certification Agreement</a>
                    </li>
                    <li class="mb-3">
                        <a href="https://ricliso.com/./assets/downloads/legal-status.pdf" target="_blank">Legal Status</a>
                    </li>
                    <li class="mb-3">
                        <a href="https://ricliso.com/./assets/downloads/certification-process.pdf" target="_blank">Certification Process</a>
                    </li>
                    <li class="mb-3">
                        <a href="https://ricliso.com/./assets/downloads/suspending-withdrawl-procedure.pdf" target="_blank">Suspension, Withdrawl, Reduction in Scope of Certification</a>
                    </li>
                    <li class="mb-3">
                        <a href="https://ricliso.com/./assets/downloads/complaints-and-appeals.pdf" target="_blank">Complaints & Appeals</a>
                    </li>
                    <li class="mb-3">
                        <a href="https://ricliso.com/./assets/downloads/certificate-mark-logo-usage-jas-anz.pdf" target="_blank">Certification Mark (Logo) Usage (JAS-ANZ)  </a>
                    </li>
                    <li class="mb-3">
                        <a href="https://ricliso.com/./assets/downloads/certificate-mark-logo-usage-uaf.pdf" target="_blank">Certification Mark (Logo) Usage (UAF)</a>
                    </li>-->
          
                </ul>
            </div>
        </div>
    </div>
</div>
