<div class="containe">
    <div class="container py-5">
        <div class="row align-items-center py-4">
            <div class="col-md-6 text-center text-md-left">
                <h1 class="mb-4 mb-md-0 text-white" style="position: absolute;">Accreditation</h1>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <div class="d-inline-flex align-items-center">
                    <a class="btn text-white" href="">Home</a>
                    <i class="fas fa-angle-right text-white"></i>
                    <a class="btn text-white disabled" href="">Accreditation</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid py-5">
    <div class="container">
        <div class="row align-items-center"> <!-- Fixed to use "row" for alignment -->
            <div class="col-lg-12 mt-5 mt-lg-0 pl-lg-5">
                <h6 class="text-secondary text-uppercase font-weight-medium mb-3 mt-5">Accreditation</h6>
                <li class="mb-4">RICL is Accredited by UAF, USA for QMS, EMS, OHSMS, FSMS, ISMS, ITSMS, MDQMS Schemes.</li>
                <div class="row"> <!-- Cards row -->
                    <!-- Card 1 -->
                    <div class="col-md-4 mb-4">
                        <div class="card image-border">
                            <img src="https://ricliso.com/./assets/images/accreditation1.jpg" class="card-img-top img-fluid image-grow" alt="accreditation">
                        </div>
                    </div>

                    <div class="col-md-4 mb-4">
                        <div class="card image-border">
                            <img src="https://ricliso.com/./assets/images/accreditation1.jpg" class="card-img-top img-fluid image-grow" alt="accreditation">
                        </div>
                    </div>

                    <div class="col-md-4 mb-4">
                        <div class="card image-border">
                            <img src="https://ricliso.com/./assets/images/accreditation1.jpg" class="card-img-top img-fluid image-grow" alt="accreditation">
                        </div>
                    </div>

                    <div class="col-md-4 mb-4">
                        <div class="card image-border">
                            <img src="https://ricliso.com/./assets/images/accreditation1.jpg" class="card-img-top img-fluid image-grow" alt="accreditation">
                        </div>
                    </div>

                    <div class="col-md-4 mb-4">
                        <div class="card image-border">
                            <img src="https://ricliso.com/./assets/images/accreditation1.jpg" class="card-img-top img-fluid image-grow" alt="accreditation">
                        </div>
                    </div>
                    <!-- Add more cards as needed -->
                </div>
            </div>
        </div>
    </div>
</div>


