<section class="job-details">
  <h3>Marketing Manager</h3>
  <h4>Key Responsibilities:</h4>
  <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula, mauris nec sodales aliquet, libero arcu efficitur eros, a ultricies arcu felis vel ex.</p> -->
  <ul>
    
      <li> Creating marketing strategies to achieve organisational goals.</li>
  <li>Implementing marketing campaigns from ideation to execution. </li>
 <li>Managing the marketing budget.  </li>
  <li>Coordinating marketing efforts with cross-functional teams like sales and product development</li>
  <li>Analysing marketing data and metrics to refine marketing strategies.</li>
  <li>Staying updated with the latest marketing trends</li>
  <li>The ability to understand and follow company policies and procedures.</li>
  <li>The ability to work under pressure.</li>

</ul>

<h4>Qualification Details:</h4>

<ul>
  <li>  Bachelor's degree or Master degree in marketing field along with experinece in releatable field.</li>
<li>2-5 years experience in marketing or sales.</li>
<li> Experience in management may be advantageous.  </li>
<li>Understanding and knowledge of sales and marketing.</li>
<li>Strong analytical, organizational, and creative thinking skills.</li>
<li>Excellent communication, interpersonal, and customer service skills.</li>
<li>Knowledge of data analysis and report writing.</li>

</ul>


<h4>Benifites:</h4>

<ul>
  <li> Competitive salary of 3LPA  to 5 LPA.</li>
<li>Opportunities for creativity and innovation.</li>
<li>Variety of career paths.</li>
<li>Flexible work arrangements.</li>
<li>Increase productivity</li>
<li> Get highly incentive.</li>
</ul>

</section>

<section class="company-info">
  <h2>Company Information</h2>
  <p> WE are a Conformity Assessment Body in India based at New Delhi, well known for our professional and quality services. We conduct compliance and certification audits for ISO 9001: 2015 Certification, ISO 14001:2015 Certification, ISO 27001:2013 Certification and other quality standard certifications. In a very short time we have got pan Indian presence by getting sincere support and response from our esteemed clients. All this could be achieved through our dedication, professional attitude and honesty. Our major focus during the assessment lies on ethical measurement, analysis and improvement.</p>
</section>

<section class="how-to-apply">
  <h2>How to Apply</h2>
  <p>We're excited that you're interested in the Marketing Manager role at Royal Impact Certification limited  Below, you'll find the apply button for our application process. Our goal is to make your experience as smooth and straightforward as possible.</p>

  <a routerLink="../applyform" class="btn btn-primary" style="background-color: #194376; border-color: #007bff;">Apply Now</a>
</section>

