<div class="containe">
  <div class="container py-5">
      <div class="row align-items-center py-4">
          <div class="col-md-6 text-center text-md-left">
              <h1 class="mb-4 mb-md-0 text-white" style="position: absolute;">Information Technology</h1>
          </div>
          <div class="col-md-6 text-center text-md-right">
              <div class="d-inline-flex align-items-center">
                  <a class="btn text-white" href="">Home</a>
                  <i class="fas fa-angle-right text-white"></i>
                  <a class="btn text-white disabled" href="">Information Technology </a>
              </div>
          </div>
      </div>
  </div>
</div>



<div class="container-fluid pt-5 pb-3">
  <div class="container">
      <h6 class="text-secondary text-uppercase text-center font-weight-medium mb-3">Our Services</h6>
      <h1 class="display-4 text-center mb-5" style="font-weight: bold; color:#194376">Information Technology</h1>
      <div class="row">
          <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color: #194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px; font-weight: bold;color:aqua !important;">ISO 9001</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">  ISO 9001</h2>
                       <p class="question"> What is ISO 9001?</p> 
                          
                         <p class="answer"> ISO 9001 is a set of rules that companies follow to assure that they have the systems needed to meet their customers' needs. It involves writing procedures, following them, and getting the same audited by an accredited registrar who after satisfying himself (by examining the systems) will certify that the required standards are being followed and will then grant certification.</p>
                          
                         <p class="question">What are the phases involved in getting ISO 9001 certification.</p>
                          
                         <p class="answer">The phases of ISO 9001 certification consists of two parts i.e., documentation and certification. The documentation part can be done in house or by the help of a consultant. Normally every company takes the services of an experienced consultant to develop and introduce the system. The certification is done by an agency accredited in this regard. The certification agency normally divides into activities into two parts documentation review, which may be done with or without visits to your works and compliance audit that is conducted at your site.</p>
                          
                          <p class="question"> What does it cost to get ISO 9001 certification?</p>
                          <p class="answer">This depends on several factors as size and complexity
                          of operations, number of locations of plants, willingness of
                          owners, type of standards to be implemented etc.</p>
                          
                          <p class="question">How long does it take to get ISO 9001 Certification.</p>
                          <p class="answer">Depending upon the commitment of the owner-managers,
                          the time taken could be 1 to 3 months.</p>
                          
                          <p class="question">What is the validity period of ISO 9001 Certification.</p>
                          
                          <p class="answer">An ISO certification is granted initially for a period of three years.</p>
                          
                          <p class="question"> Is there any fine on non-compliance after obtaining ISO 9001 certification?</p>
                          
                          <p class="answer"> No there is no provision of any fine in such circumstances.
                          
                              <p class="answer">  Advantages of ISO 9001 </p>
                              <ol>
                          <li> Passport for Global market.</li>
                          <li>Reflect Professionalism.</li>
                          <li>Create credibility among new business segment.</li>
                          <li>Improved quality, reduction in cost.
                          </li>
                          <li>Clarity of responsibility and authority.</li>
                          <li>Better and defined system.</li>
                          <li>Consistent quality and performance.</li>
                          <li>Improved Cycle Time.</li>
                          <li>Structured work culture to drive the process of business.</li>
                          <li>Reduction of variation and waste in supply chain.</li>
                       </ol>
<!-- </p>                                 -->
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color: #194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px;font-weight: bold;color:aqua !important;">ISO 20000-1</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapse2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">ISO 20000-1</h2>
                       
                          <p class="answer">By achieving certification to ISO 20000-1 IT Services Certification your organisation will be able to reap numerous benefits such as:</p>
                              <ol>
              <li>Reduction in incidents and improved incident management</li>
              <li>Improving corporate image and credibility</li>
              <li>Adoption of an integrated process to the delivery of IT services</li>
              <li>Reduction in response times and interruptions to IT service</li>
              <li>Improved management of cost leads to financial savings</li>
              <li>A culture of continuous improvement</li>
              <li>Greater understanding of roles and business objectives</li>
              <li>Ensuring legislative awareness and compliance</li>
              <li>Protecting the company, assets, shareholders and directors</li>
              <li>Increased customer satisfaction from internal and/or external customers</li>
              <li>Provides you with a competitive advantage</li>
              <li>Enhanced customer satisfaction that improves client retention</li>
              <li>Consistency in the delivery of your service or product</li>
            </ol>
          <!-- </p> -->
          <p class="question">Achieving ISO 20000 IT services certification</p>
          <p class="answer">Please click on the Contact Us button to receive a call back from our dedicated business development team, or to enquire for further information on ISO 20000 including a no-obligation competitive quotation.</p>	
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color: #194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px;font-weight: bold;color:aqua !important;">ISO 222301 - Business Continuity Management System</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapse3" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">ISO 222301 - Business Continuity Management System</h2> 
                          
          <p class="answer">ISO 22301 specifies the requirements for a management system to protect against, reduce the likelihood of, and ensure your business recovers from disruptive incidents. To ensure ISO 22301 remains relevant as the nature and type of incidents causing business disruptions continue to evolve, the internationally renowned standard for Business Continuity Management (BCM) has been updated. The ability of an organization to continue operating during a disruption has never been more important. So, it’s no surprise that ISO 22301 is continually updated to make sure it remains relevant to today’s business environment.</p>
                          
          <p class="answer">As the first ISO standard based on the High-Level Structure (HLS), it has a strong foundation that now aligns with many other internationally recognized management system standards such as ISO 9001 quality management and ISO/IEC 27001 information security management. However, there are areas of improvement highlighted by users, particularly around less prescriptive procedures and updated terms and definitions, that need considering to ensure it remains relevant in a changing business landscape.</p>
                                                   
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color: #194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px;font-weight: bold;color:aqua !important;">ISO 27001</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapse4" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">ISO 27001</h2>
                      
          <p class="answer">ISO 27001 specifies requirements for the establishment, implementation, monitoring and review, Maintenance and improvement of a management system - an overall management and control framework - for managing an organization’s information security risks. It does not mandate specific information security controls but stops at the level of the management system.</p>
          <p class="answer">The standard covers all types of organizations (e.g. commercial enterprises, government agencies and non-profit organizations) and all sizes from micro-businesses to huge multinationals.</p>	
          <p class="answer">Bringing information security under management control is a prerequisite for sustainable, directed and continuous improvement. An ISO 27001 ISMS therefore incorporates several Plan-Do-Check-Act (PDCA) cycles: for example, information security controls are not merely specified and implemented as a one-off activity but are continually reviewed and adjusted to take account of changes in the security threats, vulnerabilities and impacts of information security failures, using review and improvement activities specified within the management system.</p>
          <p class="answer">According to JTC1/SC27, the ISO/IEC committee responsible for ISO27000 and related standards, ISO 27001 “is intended to be suitable for several different types of use, including: Use within organizations to formulate security requirements and objectives;</p>
          <p class="answer">Use within an organization as a process framework for the implementation and management of controls to ensure that the specific security objectives of an organization are met;</p>
          <p class="answer">The definition of new information security management processes;</p>
          <p class="answer">Identification and clarification of existing information security management processes;</p>
          <p class="answer">Use by the management of organizations to determine the status of information security management activities;</p>
          <p class="answer">Use by the internal and external auditors of organizations to demonstrate the information security policies, directives and standards adopted by an organization and determine the degree of compliance with those policies, directives and standards;</p>
          <p class="answer">Use by organizations to provide relevant information about information security policies, directives, standards and procedures to trading partners and other organizations that they interact with for operational or commercial reasons;</p>
          <p class="answer">Implementation of a business enabling information security;</p>
          <p class="answer">and Use by organizations to provide relevant information about information security to customers.”</p>
        </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color: #194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px;font-weight: bold;color:aqua !important;">VAPT</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapse5" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">VAPT</h2>
                       
                         <p class="answer">VAPT Certification is the art of finding vulnerabilities and digging deep to seek out what proportion a target can be compromised, just in case of a legitimate attack. A penetration test will involve exploiting the network, servers, computers, firewalls, etc., to uncover vulnerabilities and highlight the practical risks involved with the identified vulnerabilities.</p>
        
                          <p class="answer">RICL provides Cert-In certified VAPT Services. </p>
                                                         
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color: #194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px;font-weight: bold; color:aqua !important;">CMMI</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapse6" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">CMMI</h2>
          <p class="question">RICL is a CMMI Licensed Appraisal Services Provider</p> 
                          
          <p class="answer">The Capability Maturity Model Integration, or CMMI, is a process model that provides a clear definition of what an organization should do to promote behaviours that lead to improved performance. With five “Maturity Levels” or three “Capability Levels,” the CMMI defines the most important elements that are required to build great products, or deliver great services, and wraps them all up in a comprehensive model.</p>
                          
          <p class="answer">The CMMI also helps us identify and achieve measurable business goals, build better products, keep customers happier, and ensure that we are working as efficiently as possible.</p>
          
                          
                         <p class="answer">CMMI is comprised of a set of “Process Areas.” Each Process Area is intended be adapted to the culture and behaviours of your own company. The CMMI is not a process, it is a book of “what’s” not a book of “how’s,” and does not define how your company should behave. More accurately, it defines what behaviours need to be defined. In this way, CMMI is a “behavioural model” and well as a “process model.”</p>
                          
                          <p class="answer">Organizations can be “Rated” at a Capability or Maturity Level based on over 300 discreet “Specific” and “Generic” Practices. Intended to be broadly interpreted, the CMMI is not a “Standard” (ala ISO), so achieving a “Level” of CMMI is not a certification, but a “rating.”</p>
                          
                          <p class="answer">There are three different types of appraisals, called “Classes” and they are SCAMPI A, SCAMPI B, or SCAMPI C. The SCAMPI A is the only appraisal method that results in a Maturity or Capability Level Rating. A SCAMPI C is typically used as a gap analysis and data collection tool, and the SCAMPI B is often employed as a User Acceptance or “test” appraisal. The results of a SCAMPI A Appraisal are published on the CMMI Institute Website known as “PARS” and is available for viewing by the public.</p>
                                                  
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color: #194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px;font-weight: bold;color:aqua !important;">GDPR Compliance</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapse6" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">GDPR Compliance</h2>

          <p class="answer">The General Data Protection Regulation (GDPR) is the toughest privacy and security law in the world. Though it was drafted and passed by the European Union (EU), it imposes obligations onto organizations anywhere, so long as they target or collect data related to people in the EU. The GDPR will levy harsh fines against those who violate its privacy and security standards.</p>
                          
          <p class="answer">Also known as the right to erasure, the GDPR gives individuals the right to ask organizations to delete their personal data.</p>
          
                          
                         <p class="answer">At its core, GDPR Compliance means an organization that falls within the scope of the General Data Protection Regulation (GDPR) meets the requirements for properly handling personal data as defined in the law. The GDPR outlines certain obligations organizations must follow which limit how personal data can be used.</p>
                          
                          <p class="answer">GDPR compliance audit is conducted by certified GDPR lead auditor.</p>
                          
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          
          <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color: #194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px;font-weight: bold; color:aqua !important;">CISA Certified Information Security Audit</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapse6" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">CISA Certified Information Security Audit</h2>

          <p class="answer">Due to the increasing number of cyber-attacks CISA is trying to formulate strategic actions to make things harder for the hackers. To reduce the number of cyber-attacks, everyone should start focusing on CISA compliance.</p>
                          
          <p class="answer">According to CISA compliance, all organizations are required to update the security module. They can’t any longer use obsolete software as it imposes a direct threat to the data security.</p>
          
                          
                         <p class="answer">Compliance audit is conducted to evaluate and determine whether specific regulatory requirements are being complied with. It evaluates and determine whether an information system and any related infrastructure is adequately safeguarded and protected to maintain confidentiality, integrity, and availability.</p>
                          
                          <p class="answer">CISA Compliance audit is conducted by CISA certified auditor.</p>
                          
                      </div>
                    </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-12 col-md-12 pb-3">
              <div id="accordion">
                  <div class="card" style="background-color: #f3f6ff;">
                    <div class="card-header" id="headingOne" style="background-color: #194376;">
                      <h5 class="mb-0">
                        <a class="btn btn-link" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                          <h2 class="display-2 text-secondary m-0" style="font-size:25px;font-weight: bold; color:aqua !important;">SSAE 18 SOC 2 (Type 2) Audit</h2>
                        </a>
                      </h5>
                    </div>
                
                    <div id="collapse6" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          <h2 class="display-2 text-secondary m-0  pb-3" style="font-size:25px">SSAE 18 SOC 2 (Type 2) Audit</h2>

          <p class="answer">SOC 2 is a voluntary compliance standard for service organizations, developed by the American Institute of CPAs (AICPA), which specifies how organizations should manage customer data. The standard is based on the following Trust Services Criteria: security, availability, processing integrity, confidentiality, privacy. A SOC 2 report is tailored to the unique needs of each organization. Depending on its specific business practices, each organization can design controls that follow one or more principles of trust. These internal reports provide organizations and their regulators, business partners, and suppliers, with important information about how the organization manages its data.</p>
                          
          <p class="answer">Compliance with SOC 2 requirements indicates that an organization maintains a high level of information security. Strict compliance requirements (tested through on-site audits) can help ensure sensitive information is handled responsibly.</p>
          
              
                         <p class="answer">Complying with SOC 2 provides:<br>
                              •	Improved information security practices – via SOC 2 guidelines, the organization can better defend itself better against cyber-attacks and prevent breaches.<br>
                              •	A competitive advantage – because customers prefer to work with service providers that can prove they have solid information security practices, especially for IT and cloud services.
                          </p>
                          
                          <p class="answer">SOC 2 Type 2 audit is conducted by USA certified CPA.</p>
                          
                      </div>
                    </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
