<div class="body">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h1>con<span>nect</span></h1>
                <div class="d-inline-flex align-items-center">
                    
                    <a class="text-white mr-1" href="https://www.linkedin.com/company/77624468/admin/feed/posts/">
                        <i class="fab fa-linkedin" style="font-size: 24px;"></i>
                    </a>
                    <a class="text-white mx-2" href="https://www.facebook.com/RoyalImpactCertificationlimited">
                        <i class="fab fa-facebook-square" style="font-size: 24px;"></i>
                    </a>
                    <a class="text-white mx-2" href="https://www.instagram.com/ricliso2047/">
                        <i class="fab fa-instagram" style="font-size: 24px;"></i>
                    </a>
                    <a class="text-white mx-2" href="https://twitter.com/RICLISOAcademy" >
                        <i class="fab fa-twitter-square" style="font-size: 24px;"></i>
                    </a>
                    <a class="text-white mx-2" href="https://www.youtube.com/@royalimpactcertificationli7774" >
                        <i class="fa-brands fa-youtube" style="font-size: 24px;"></i>
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <h4 class="text-white mb-4">Get In Touch</h4>
                <p class="text-white"><i class="fa fa-map-marker-alt mr-2"></i>Royal Impact Certification Ltd.
                    623, Tower B, iThum,
                    Plot No. A 40, Sector 62,
                    Noida 201301.</p>
                    <p class="text-white"><i class="fa fa-phone-alt mr-2"></i>+0120-4113893</p>
                    <p><i class="fa fa-envelope mr-2"></i><a href="mailto:info@ricliso.com" style="color:white; text-decoration:none;">info@ricliso.com</a></p>
            </div>
            <div class="col-sm-3">
                <div class="col-lg-3 col-md-6 mb-5" style="width: 200px;">
                    <h4 class="text-white mb-6">QuickLinks</h4>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-white mb-2 d-flex align-items-center" href="#" style="text-decoration: none;"><i class="fa fa-angle-right mr-2"></i><span>Home</span></a>
                        <a class="text-white mb-2 d-flex align-items-center" routerLink="/about" style="width: 85px; text-decoration:none "><i class="fa fa-angle-right mr-2"></i><span>About Us</span></a>
                        <a class="text-white mb-2 d-flex align-items-center" routerLink="/service" style="text-decoration: none;"><i class="fa fa-angle-right mr-2"></i><span>Services</span></a>
                        <a class="text-white d-flex align-items-center" routerLink="/services" style="width: 95px; text-decoration:none"><i class="fa fa-angle-right mr-2"></i><span>Contact Us</span></a>
                    </div>
                </div>
            </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <h4 class="text-white mb-4">Newsletter</h4>
                    <form action="">
                        <div class="form-group">
                            <input type="text" class="input" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="input"  placeholder="Your Email">
                        </div>
                        <div>
                            <button class="btn btn-lg btn-secondary btn-block border-0 input " style="text-align: center;" type="submit" fdprocessedid="un6hlp">Submit Now</button>
                        </div>
                    </form>

                   
            </div>
        </div>
    </div>
</div>

<!-- <div class="container-fluid justify-content-center">
   
    <ul class="list-inline">
      <li class="list-inline-item" >
        <img src="../../../assets/CMMI LOGO.png" alt="CMMI Logo" style="height: 80px; padding-TOP: 5%;">
      </li>
      <li class="list-inline-item" >
        <img src="../../../assets/isaca1.png" alt="ISACA Logo" style="height: 80px; padding-TOP: 5%;">
      </li>
      <li class="list-inline-item" >
        <img src="../../../assets/ECM.png" alt="ECM Logo" style="height: 80px; padding-TOP: 5%;">
      </li>
    </ul>
  </div> -->


<div class="footer">
    <p class="m-0 text-center text-white" style="padding-top: 15px; font-weight:500">
        © © ricliso.com © ©
    </p>
</div>

