<section class="job-details">
  <h3>Buisness Development Executive</h3>
  <h4>Key Responsibilities:</h4>
  <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula, mauris nec sodales aliquet, libero arcu efficitur eros, a ultricies arcu felis vel ex.</p> -->
  <ul>
    
      <li> Initiate outbound calls to prospective clients, engaging them with compelling conversations about the benefits of our certification programs.</li>
  <li>Nurture relationships over the phone, understanding clients' needs and offering tailored solutions that align with their objectives. </li>
 <li>Collaborate closely with our sales team to coordinate appointments and ensure seamless follow-up with leads.  </li>
  <li>Maintain accurate records of interactions and update our CRM system to track progress and opportunities.
  </li>
  <li>Stay informed about industry trends and competitor activities to identify new avenues for business development.</li>

</ul>

<h4>Qualification Details:</h4>

<ul>
  <li> Bachelor's degree in any field.
  </li>
<li>Exceptional communication skills, with a natural ability to build rapport and convey information persuasively.
</li>
<li> Enthusiastic attitude with a drive to excel in a target-oriented environment.  </li>
<li>Strong organizational skills and attention to detail.</li>
<li>Previous experience in sales or customer service is advantageous but not essential.</li>
<li>Fresh graduates are welcome to apply we value ambition and potential!</li>
</ul>


<h4>Benifites:</h4>

<ul>
  <li> Competitive salary of 1.80 Lakhs to 3.60 Lakhs per annum.</li>
<li>Comprehensive training and ongoing mentorship to develop your skills and accelerate your career growth.</li>
<li>  Performance-based incentives, rewarding your dedication and success.</li>
<li>Opportunities for advancement within a dynamic and rapidly growing company.</li>
<li> Access to a supportive and inclusive work culture where your contributions are valued and celebrated.</li>
<li> Chance to make a meaningful impact by helping individuals and organizations achieve their goals through certification.</li>
</ul>

</section>

<section class="company-info">
  <h2>Company Information</h2>
  <p> WE are a Conformity Assessment Body in India based at New Delhi, well known for our professional and quality services. We conduct compliance and certification audits for ISO 9001: 2015 Certification, ISO 14001:2015 Certification, ISO 27001:2013 Certification and other quality standard certifications. In a very short time we have got pan Indian presence by getting sincere support and response from our esteemed clients. All this could be achieved through our dedication, professional attitude and honesty. Our major focus during the assessment lies on ethical measurement, analysis and improvement.</p>
</section>

<section class="how-to-apply">
  <h2>How to Apply</h2>
  <p>We're excited that you're interested in the Business Development Executive role at Royal Impact Certification limited  Below, you'll find the apply button for our application process. Our goal is to make your experience as smooth and straightforward as possible.</p>

  <a routerLink="../applyform" class="btn btn-primary" style="background-color: #194376; border-color: #007bff;">Apply Now</a>
</section>
